<p><input type="text" dtInput value="Enabled input with text" /></p>
<p>
  <input type="text" dtInput disabled value="Disabled input with text" />
</p>
<p>
  <input type="text" dtInput placeholder="Enabled input with placeholder" />
</p>
<p>
  <input
    type="text"
    dtInput
    disabled
    placeholder="Disabled input with placeholder"
  />
</p>

<hr />

<p>
  <dt-select
    placeholder="Choose your coffee"
    dt-ui-test-id="select"
    [value]="'Yuanyang'"
    ><dt-option value="Yuanyang">Enabled select with text</dt-option></dt-select
  >
</p>
<p>
  <dt-select
    placeholder="Choose your coffee"
    dt-ui-test-id="select"
    [value]="'Yuanyang'"
    disabled
    ><dt-option value="Yuanyang"
      >Disabled select with text</dt-option
    ></dt-select
  >
</p>
<p>
  <dt-select
    placeholder="Enabled select with placeholder"
    dt-ui-test-id="select"
  >
    <dt-option value="Yuanyang">Yuanyang</dt-option>
    <dt-option value="Haoyang">Haoyang</dt-option>
  </dt-select>
</p>
<p>
  <dt-select
    placeholder="Disabled select with placeholder"
    dt-ui-test-id="select"
    disabled
    ><dt-option value="Yuanyang">Yuanyang</dt-option></dt-select
  >
</p>
