@import '../lib/style/font-mixins';

// THIS FILE CAN BE REMOVED ONCE WE REPLACE HTML TABLES WITH OUR DT-TABLES
// CSS-GROUNDHOG IS NO LONGER NEEDED

.table {
  border-spacing: 0;
  margin-bottom: 1.5rem;
  width: 100%;
  @include default-font(14px, 1.4);
}

.table th,
.table td {
  padding-left: 12px;
  padding-right: 12px;
  text-overflow: ellipsis;
}

.table td {
  padding-top: 10px;
  padding-bottom: 11px;
}

@media (max-width: 920px) {

  .table--responsive {
    display: block;
    width: 100%;
  }

  .table--responsive thead {
    display: none;
  }

  .table--responsive tbody {
    display: block;
    width: 100%;
  }

  .table--responsive tbody th {
    display: none;
  }

  .table--responsive tr {
    display: block;
    width: 100%;
  }

  .table--responsive td {
    display: block;
    border-top: 1px solid #e6e6e6;
    position: relative;
    padding-left: calc(50% + 12px);
    max-width: 100%;
    overflow: hidden;
  }

  .table--responsive td:before {
    content: attr(data-th) " ";
    text-align: left;
    @include custom-font-styles($default-font-color, 700, 12px);
    position: absolute;
    border-right: 1px solid #e6e6e6;
    height: 100%;
    top: 0;
    left: 12px;
    padding-top: 11px;
    width: calc(50% - 12px);
    white-space: inherit;
  }
}

.table th,
.table thead th,
.table thead td {
  text-align: left;
  @include label-font();
  position: relative;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  white-space: nowrap;
}


.table th:after,
.table thead th:after,
.table thead td:after {
  content: " ";
  height: 1px;
  position: absolute;
  bottom: 5px;
  margin-left: 5px;
  width: 100%;
  background-color: #e6e6e6;
}


.table th:before,
.table thead th:before,
.table thead td:before {
  content: " ";
  height: 1px;
  position: absolute;
  bottom: 5px;
  right: 0;
  width: 10px;
  background-color: #fff;
  z-index: 2;
}

.table th:last-child:before,
.table thead th:last-child:before,
.table thead td:last-child:before {
  display: none;
}

.table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
