@import '../lib/style/font-mixins';

.content-wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.docs-content {
  flex: 1 0 50%;
  width: 50%;
  padding: 16px 16px 32px;
}

// replace this with nav component as soon as it is ready - if there is one
// removed groundhog dependency since groundhog has a different usecase
.nav {
  display: block;
  height: 2.75rem;
  background-color: #242424;
  position: relative;
}

.theme-selector {
  display: block;
  float: right;
  margin: 6px 10px;
}

/*
* Brand logo
*/

.nav__brand {
  position: absolute;
  z-index: 12;
  top: 0.7rem;
  left: 1.55rem;
  width: 7rem;
}

.nav__logo {
  max-width: 100%;
}

// replace this with the sidenav component as soon as this is ready
.sidenav {
  display: block;
  width: 284px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 284px;
  flex: 0 0 284px;
  background-color: #f2f2f2;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    @include default-font(15px, 60px);
    display: block;
    height: 60px;
    padding-left: 20px;
    padding-right: 8px;
    width: 100%;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover {
      color: #00a1b2;
    }
  }

  li + li {
    border-top: 1px solid #e6e6e6;
  }

  .router-link-active {
    border-left: 6px solid #525252;
    padding-left: 14px;
  }
}

