@import "~@dynatrace/groundhog/src/base/typography";
@import "~@dynatrace/groundhog/src/base/base";
@import "~@dynatrace/groundhog/src/list/list";
@import "~@dynatrace/groundhog/src/layout/layout";
@import "~@dynatrace/groundhog/src/layout/islands";
@import "~@dynatrace/groundhog/src/table/table";

@import "~highlight.js/styles/github-gist.css";
@import "../components/styles/constants";
@import "../components/styles/fonticons";
@import "../components/styles/fonts";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $gray-100;
  font-family: 'BerninaSansWeb', sans-serif;
}

a {
  cursor: pointer;
}
