@import '~highlight.js/styles/github-gist.css';
@import './table';
@import '../lib/style/index';

%typecsset-reset {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

* { box-sizing: border-box; }

*::after,
*::before {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  counter-reset: section;
}

h1,
h2,
h3 {
  @extend %typecsset-reset;
}

h4,
h5,
h6 {
  @include custom-font-size(16px);
  margin-bottom: 6px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 32px;
}

.demo-card {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.demo-card.dark {
  padding: 0;
}

.dark {
  background-color: #2d2d2d;
  color: #fff;
  padding: 16px;
}
