@import '~highlight.js/styles/github-gist.css';
@import '~@dynatrace/groundhog/dist/css/table/table.css';
@import '../lib/style/index';

%typecsset-reset {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

* { box-sizing: border-box; }

*::after,
*::before {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BerninaSansWeb', 'Open Sans', sans-serif;
  color: #454646;
  counter-reset: section;
}

h1,
h2,
h3 {
  @extend %typecsset-reset;
  font-weight: 300;
  line-height: 1.2;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 32px;
  line-height: 1.2;
}

h3 {
  font-size: 24px;
}

h4,
h5,
h6 {
  line-height: 1.6;
  font-size: 16px;
  margin-bottom: 6px;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child),
h6:not(:first-child) {
  margin-top: 32px;
}

.dark {
  background-color: #454545;
  color: #fff;
  padding: 16px;
}
