@import 'colors';
@import '../../../styles/global/variables';

:host {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

:host ::ng-deep button {
  font-size: 14px;
  outline: none;
}

:host ::ng-deep .ba-uxd-node-content p {
  margin-bottom: 0;
}

.ba-uxd-node-wrapper {
  width: 100%;
}

@media only screen and (min-width: $screen-lg) {
  .ba-uxd-node-wrapper {
    width: 76%;
    margin: 0 auto;
  }
}

.ba-uxd-node {
  margin-top: 64px;
  margin-left: 8px;
  padding-left: 8px;
  padding-right: 8px;
  border-left: 2px solid $gray-300;
}

@media only screen and (min-width: $screen-md) {
  .ba-uxd-node {
    margin-left: 8px;
    padding-left: 24px;
  }
}

@media only screen and (min-width: $screen-lg) {
  .ba-uxd-node {
    margin-left: 4px;
  }
}

.ba-uxd-node-content {
  width: fit-content;
  margin-bottom: 20px;
}

.ba-uxd-edge-button {
  height: 32px;
  min-width: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border: none;
  color: $white;
  background-color: $royalblue-600;

  &:hover {
    background-color: $royalblue-500;
  }

  &:disabled {
    background-color: $gray-300;
  }

  &:disabled:hover {
    background-color: $gray-300;
  }
}

.ba-uxd-yes-edge,
.ba-uxd-no-edge {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  margin-right: 32px;
  margin-left: 0;
  padding: 0;
}

.ba-uxd-no-edge {
  background-color: $royalblue-800;
  &:hover {
    background-color: $royalblue-700;
  }
}

.ba-uxd-task-node-wrapper {
  width: 100%;
  background-color: $royalblue-600;
  padding: 32px 0px;
  margin-top: 32px;
}

.ba-uxd-task-node {
  margin-left: 4px;
}

@media only screen and (min-width: $screen-lg) {
  .ba-uxd-task-node {
    width: 76%;
    margin: 0 auto;
  }
}

.ba-uxd-task-node-content {
  width: 100%;
  color: $white;
  border-left: 2px solid $white;
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 8px;
}

@media only screen and (min-width: $screen-md) {
  .ba-uxd-task-node-content {
    padding-left: 24px;
  }
}
