<div class="ba-uxd-node-wrapper" *ngIf="_startnode">
  <div #nodes *ngFor="let node of _decisionGraphSteps">
    <div class="ba-uxd-node" *ngIf="!node.tasknode">
      <div
        class="ba-uxd-node-content"
        [innerHTML]="getSanitizedNodeText(node.text)"
      ></div>
      <div *ngIf="node.path.length">
        <button
          class="ba-uxd-edge-button"
          *ngFor="let edge of node.path.sort()"
          [ngClass]="
          {
            'ba-uxd-yes-edge': edge.text.toLowerCase().includes('yes'),
            'ba-uxd-no-edge': edge.text.toLowerCase().includes('no')
          }"
          [disabled]="edge.selected === false"
          (click)="setNextNode(edge)"
        >
          {{edge.text}}
        </button>
      </div>
    </div>
  </div>
</div>
<ba-decision-graph-node-navigation
  *ngIf="_decisionGraphSteps.length > 0 && !_tasknode"
  [_inTasknode]="isTasknode()"
  [_showBackButton]="_started"
  (_resetToInitial)="resetToInitial()"
  (_undoLastStep)="undoLastStep()"
></ba-decision-graph-node-navigation>
<div *ngIf="_tasknode" class="ba-uxd-task-node-wrapper">
  <div
    class="ba-uxd-task-node"
    [innerHTML]="getSanitizedNodeText(_tasknode.text)"
  ></div>
  <ba-decision-graph-node-navigation
    *ngIf="_decisionGraphSteps.length > 0 && _tasknode"
    [_inTasknode]="isTasknode()"
    [_showBackButton]="_started"
    (_resetToInitial)="resetToInitial()"
    (_undoLastStep)="undoLastStep()"
  ></ba-decision-graph-node-navigation>
</div>
