@import 'colors';
@import '../../../styles/global/variables';

:host {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

:host ::ng-deep button {
  font-size: 14px;
  outline: none;
}

:host ::ng-deep .ba-uxd-node-content p {
  margin-bottom: 0;
}

.ba-uxd-node {
  margin-bottom: 68px;
  padding-left: 24px;
  border-left: 2px solid #ccc;
}

.ba-uxd-node-wrapper {
  width: 100%;
}

@media only screen and (min-width: $screen-lg) {
  .ba-uxd-node-wrapper {
    width: 76%;
    margin: 0 auto;
  }
}

.ba-uxd-node-content {
  width: fit-content;
  margin-bottom: 20px;
}

.ba-uxd-edge-button {
  height: 32px;
  min-width: 40px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px;
  border: none;
  color: white;
  background-color: $royalblue-600;

  &:hover {
    background-color: $royalblue-500;
  }

  &:disabled {
    background-color: $gray-300;

    &:hover {
      background-color: $gray-300;
    }
  }
}

.ba-uxd-yes-edge {
  height: 44px;
  width: 44px;
  border-radius: 22px;
  margin-right: 32px;
  margin-left: 0;
  padding: 0;
}

.ba-uxd-no-edge {
  height: 44px;
  width: 44px;
  border-radius: 22px;
  margin-right: 32px;
  padding: 0;
  background-color: $royalblue-800;

  &:hover {
    background-color: $royalblue-700;
  }
}

.ba-uxd-task-node-wrapper {
  background-color: $royalblue-600;
  padding-top: 32px;
  padding-bottom: 24px;
  margin-bottom: 44px;
}

.ba-uxd-task-node {
  width: 100%;
  margin: 8px;
  color: white;
  border-left: 2px solid $white;
}

@media only screen and (min-width: $screen-md) {
  .ba-uxd-task-node {
    width: 76%;
    padding-left: 24px;
    margin: 0 auto 24px;
  }
}
