<p><input type="text" dtInput value="Enabled input with text Gray700" /></p>
<p>
  <input
    type="text"
    dtInput
    disabled
    value="Disabled input with text Gray300"
  />
</p>
<p>
  <input
    type="text"
    dtInput
    placeholder="Enabled input with placeholder Gray500"
  />
</p>
<p>
  <input
    type="text"
    dtInput
    disabled
    placeholder="Disabled input with placeholder Gray300"
  />
</p>

<p>Alternative</p>
<p>
  <input
    type="text"
    dtInput
    disabled
    placeholder="Disabled input with placeholder Gray500"
    class="aaaa"
  />
</p>
