<div [dtTheme]="_pageTheme$ | async" class="ba-app-container">
  <ba-nav></ba-nav>
  <ng-container *ngIf="(_breadcrumbs$ | async); let breadcrumbs">
    <dt-breadcrumbs
      aria-label="Breadcrumbs navigation"
      *ngIf="breadcrumbs.length > 1"
    >
      <a
        *ngFor="let crumb of breadcrumbs"
        dtBreadcrumbsItem
        [attr.href]="crumb.href"
        >{{crumb.title}}</a
      >
    </dt-breadcrumbs>
  </ng-container>

  <ba-page-outlet [content]="_currentPage$ | async"></ba-page-outlet>

  <button ba-scroll-to-top></button>

  <ba-footer></ba-footer>
</div>
