@import '../../styles/global/mixins';

.ba-search-form {
  margin: 0 auto 1rem;
  @include textContentWidth();
}

.ba-search-input {
  font-family: $mainfont;
  appearance: none;
  display: inline-block;
  text-decoration: none;
  height: 32px;
  border: 1px solid $disabledcolor;
  border-radius: 3px;
  padding: 0 11px;
  cursor: pointer;
  font-size: 14px;
  line-height: 32px;
  width: 100%;
  color: $gray-700;
  background-image: url('https://dt-cdn.net/images/icons-file-002-search-magnifyingglass-b56a5855ab.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center right 11px;
  transition: background-position 0.25s ease-in-out;
}

.ba-search-input:hover {
  border-color: $gray-400;
  cursor: text;
}

.ba-search-input:focus {
  @include focusStyle();
  background-position: center right -31px;
}
