@import '../core/style/interactive-common';

@mixin dt-theme-breadcrumbs($theme, $theme-name) {
  $palette-names: 'main', 'error', 'neutral';
  $default-palette: 'main';

  @each $name in $palette-names {
    $is-dark: map-get($theme, 'is-dark');
    $palette: dt-get-theme-palette($theme, $name);
    $default-color: dt-get-theme-color($palette, 'default');
    $hover-color: dt-get-theme-color($palette, 'hover');
    $active-color: dt-get-theme-color($palette, 'active');

    $namespace: ':host';
    @if ($name != $default-palette) {
      $namespace: ':host.dt-color-#{$name}';
    }

    #{$namespace} ::ng-deep .dt-breadcrumbs-item .dt-breadcrumb-link,
    #{$namespace} ::ng-deep a.dt-breadcrumbs-item:not(:last-child) {
      background-color: $active-color;

      &::after {
        border-left-color: $active-color;
      }

      @if ($is-dark == true) {
        // Apply focus to CDK focus monitored elements
        @include dt-cdkmonitor-focus-style(true);
      }
    }

    #{$namespace} ::ng-deep .dt-breadcrumbs-item .dt-breadcrumb-link:hover,
    #{$namespace} ::ng-deep a.dt-breadcrumbs-item:not(:last-child):hover {
      background-color: $hover-color;

      &::after {
        border-left-color: $hover-color;
      }
    }

    #{$namespace} ::ng-deep .dt-breadcrumbs-item .dt-breadcrumb-link:active,
    #{$namespace} ::ng-deep a.dt-breadcrumbs-item:not(:last-child):active {
      background-color: $active-color;

      &::after {
        border-left-color: $active-color;
      }
    }

    #{$namespace} ::ng-deep .dt-breadcrumbs-item .dt-breadcrumb-non-clickable,
    #{$namespace} ::ng-deep a.dt-breadcrumbs-item:last-child {
      background-color: $default-color;
    }
  }
}
