<dt-micro-chart-v2>
  <dt-micro-chart-line-series [data]="series.data"></dt-micro-chart-line-series>
</dt-micro-chart-v2>

<dt-micro-chart-v2>
  <dt-micro-chart-line-series [data]="series.data" markers="true"></dt-micro-chart-line-series>
</dt-micro-chart-v2>

<dt-micro-chart-v2>
  <dt-micro-chart-line-series [data]="series.data" highlightExtremes="true"></dt-micro-chart-line-series>
</dt-micro-chart-v2>

<dt-micro-chart-v2>
  <dt-micro-chart-column-series [data]="series.data"></dt-micro-chart-column-series>
</dt-micro-chart-v2>