.fluid-virtual-scroll-container-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1rem;
}

.virtual-scroll {
  max-width: 300px;
  height: 600px;
}

fluid-virtual-scroll-container {
  border: 1px solid black;
}
