@import '../core/theming/theming';
@import '../core/style/interactive-common';

@mixin dt-theme-button($theme) {
  $palette-names: 'main', 'warning', 'cta';
  $default-palette: 'main';

  @each $name in $palette-names {
    $is-dark: map-get($theme, 'is-dark');
    $palette: dt-get-theme-palette($theme, $name);
    $default-color: dt-get-theme-color($palette, 'default');
    $hover-color: dt-get-theme-color($palette, 'hover');
    $active-color: dt-get-theme-color($palette, 'active');

    // Temporary fix to not make button color depend on theme.
    // We only have to override the main color because the warning and
    // cta colors are the same across all themes for now.
    @if ($name == 'main') {
      @if ($is-dark == true) {
        $default-color: $turquoise-500;
        $hover-color: $turquoise-400;
        $active-color: $turquoise-300;
      } @else {
        $default-color: $turquoise-600;
        $hover-color: $turquoise-700;
        $active-color: $turquoise-800;
      }
    }

    $namespace: '.dt-button';
    @if $name != $default-palette {
      $namespace: '.dt-button.dt-color-#{$name}';
    }

    @if ($is-dark == true) {
      #{$namespace} {
        // Apply focus to CDK focus monitored elements
        @include dt-cdkmonitor-focus-style(true);
      }
    }

    ////////////////////////////
    // PRIMARY
    ////////////////////////////
    #{$namespace}.dt-button-primary {
      background: $default-color;
      border-color: $default-color;
      color: #ffffff;

      .dt-button-icon .dt-icon svg {
        fill: #ffffff;
      }
    }
    #{$namespace}.dt-button-primary:hover:not([disabled]) {
      background: $hover-color;
      border-color: $hover-color;
      color: #ffffff;
    }
    #{$namespace}.dt-button-primary:active:not([disabled]) {
      background: $active-color;
      border-color: $active-color;
      color: #ffffff;
    }

    @if ($is-dark == true) {
      #{$namespace}.dt-button-primary,
      #{$namespace}.dt-button-primary:hover:not([disabled]),
      #{$namespace}.dt-button-primary:active:not([disabled]) {
        border-color: #ffffff;
      }
      #{$namespace}.dt-button-primary[disabled] {
        background: rgba(255, 255, 255, 0.2);
        border-color: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.6);

        .dt-button-icon .dt-icon svg {
          fill: rgba(255, 255, 255, 0.6);
        }
      }
    } @else {
      #{$namespace}.dt-button-primary[disabled] {
        background: $disabledcolor;
        border-color: $disabledcolor;
        color: #ffffff;

        .dt-button-icon .dt-icon svg {
          fill: #ffffff;
        }
      }
    }

    ////////////////////////////
    // SECONDARY
    ////////////////////////////
    #{$namespace}.dt-button-secondary {
      background: transparent;
      border-color: $default-color;
      color: $default-color;

      .dt-button-icon .dt-icon svg {
        fill: $default-color;
      }
    }
    #{$namespace}.dt-button-secondary:hover:not([disabled]) {
      background: $gray-100;
      border-color: $hover-color;
      color: $hover-color;

      .dt-button-icon .dt-icon svg {
        fill: $hover-color;
      }
    }
    #{$namespace}.dt-button-secondary:active:not([disabled]) {
      background: $gray-100;
      border-color: $active-color;
      color: $active-color;

      .dt-button-icon .dt-icon svg {
        fill: $active-color;
      }
    }

    @if $is-dark == true {
      #{$namespace}.dt-button-secondary,
      #{$namespace}.dt-button-secondary[disabled] {
        background: transparent;
        color: #ffffff;

        .dt-button-icon .dt-icon svg {
          fill: #ffffff;
        }
      }
      #{$namespace}.dt-button-secondary:hover:not([disabled]) {
        background: rgba(255, 255, 255, 0.2);
        color: #ffffff;

        .dt-button-icon .dt-icon svg {
          fill: #ffffff;
        }
      }
      #{$namespace}.dt-button-secondary:active:not([disabled]) {
        background: rgba(255, 255, 255, 0.3);
        color: #ffffff;

        .dt-button-icon .dt-icon svg {
          fill: #ffffff;
        }
      }
      #{$namespace}.dt-button-secondary[disabled] {
        border-color: rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.6);

        .dt-button-icon .dt-icon svg {
          fill: rgba(255, 255, 255, 0.6);
        }
      }
      // Main does not have the main color as a border
      // so we have to specifiy it differently
      @if $name == 'main' {
        #{$namespace}.dt-button-secondary,
        #{$namespace}.dt-button-secondary:hover:not([disabled]) {
          border-color: #ffffff;
          color: $gray-100;
        }
        #{$namespace}.dt-button-secondary:active:not([disabled]) {
          border-color: #ffffff;
          color: #ffffff;
        }
      }
    } @else {
      #{$namespace}.dt-button-secondary[disabled] {
        background: #ffffff;
        border-color: $disabledcolor;
        color: $disabledcolor;

        .dt-button-icon .dt-icon svg {
          fill: $disabledcolor;
        }
      }
    }

    ////////////////////////////
    // NESTED
    ////////////////////////////
    @if $is-dark == true {
      #{$namespace}.dt-button-nested,
      #{$namespace}.dt-button-nested:hover:not([disabled]),
      #{$namespace}.dt-button-nested:active:not([disabled]) {
        .dt-button-icon .dt-icon svg {
          fill: #ffffff;
        }
      }
      #{$namespace}.dt-button-nested:hover:not([disabled]) {
        background: rgba(255, 255, 255, 0.2);
      }
      #{$namespace}.dt-button-nested:active:not([disabled]) {
        background: rgba(255, 255, 255, 0.3);
      }
      #{$namespace}.dt-button-nested[disabled] {
        .dt-button-icon .dt-icon svg {
          fill: rgba(255, 255, 255, 0.6);
        }
      }
    } @else {
      #{$namespace}.dt-button-nested {
        .dt-button-icon .dt-icon svg {
          fill: $default-color;
        }
      }
      #{$namespace}.dt-button-nested:hover:not([disabled]) {
        .dt-button-icon .dt-icon svg {
          fill: $hover-color;
        }
      }
      #{$namespace}.dt-button-nested:active:not([disabled]) {
        .dt-button-icon .dt-icon svg {
          fill: $active-color;
        }
      }
      #{$namespace}.dt-button-nested[disabled] {
        .dt-button-icon .dt-icon svg {
          fill: $disabledcolor;
        }
      }
    }
  }
}
