@import '../lib/style/font-mixins';

// replace this with nav component as soon as it is ready - if there is one
.nav {
  display: block;
  height: 2.75rem;
  background-color: #242424;
  position: relative;
}

.theme-selector {
  display: block;
  float: right;
  margin: 6px 10px;
}

.content-wrapper {
  display: flex;
}

.main {
  flex: 1 1 auto;
  padding: 20px;
}

// replace this with the sidenav component as soon as this is ready
.sidenav {
  background-color: #f2f2f2;
  font-family: 'Bernina-Sans';

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  & > ul > li {
    @include default-font(14px, 32px);
  }

  .expandable-item {
    border-top: 1px solid $gray-300;
    border-bottom: 1px solid $gray-300;
    background-color: $gray-200;
  }

  .expandable-item + .expandable-item {
    border-top: none;
  }

  .expandable-item-open {
    border-bottom: 2px solid $turquoise-600;
  }

  .expandable-item + .expandable-item-open {
    border-top: 2px solid $turquoise-600;
  }

  .expandable-item-open + .expandable-item-open {
    border-top: none;
  }

  .item-entry {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .dt-expandable-panel-trigger ::ng-deep svg {
    transition: transform 150ms ease-in-out;
    fill: $turquoise-600;
  }

  .dt-expandable-panel-trigger-open ::ng-deep svg {
    transform: rotate(180deg)
  }

  dt-icon {
    flex: 0 1 20px;
    height: 20px;
  }

  .expandable-item ul li {
    padding-left: 28px;
  }
}

