:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

// replace this with nav component as soon as it is ready - if there is one
.nav {
  display: block;
  height: 2.75rem;
  background-color: #242424;
  position: relative;
}

.theme-selector {
  display: block;
  float: right;
  margin: 6px 10px;
}

.content-wrapper {
  display: flex;
  flex-grow: 1;
}

.main {
  flex: 1 1 auto;
  padding: 20px;
}
