* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.demo-card {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.demo-card.dark {
  padding: 0;
}

.dark {
  background-color: #242424;
  color: #ffffff;
  padding: 16px;
}
