* { box-sizing: border-box; }

*::after,
*::before {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'BerninaSansWeb';
}

.demo-card {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
}

.demo-card.dark {
  padding: 0;
}

.dark {
  background-color: #2d2d2d;
  color: #fff;
  padding: 16px;
}
