:host {
  display: block;
}

.controls {
  display: flex;
  align-items: flex-start;
  flex-flow: column;

  dt-form-field {
    margin: 1em 0;
  }

  .range-input {
    display: flex;

    dt-form-field + dt-form-field {
      margin-left: 1em;
    }
  }
}
