<p>
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
  ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
  parturient montes, nascetur ridiculus muss Donec quam felis, ultricies nec,
  pellentesque eu, pretium quis, sem.
</p>
<p>
  Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec,
  vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae,
  justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras
  dapibus.
</p>
<p>
  Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo
  ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante,
  dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus
  varius laoreet. Quisque rutrum. Aenean imperdiet.
</p>
<p>
  Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget
  dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam
  semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
  vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt
  tempus.
</p>
<p>
  Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit
  amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit
  amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum
  sodales, augue velit cursus nunc,
</p>

<dt-chart
  *ngIf="series && options"
  [options]="options"
  [series]="series"
  (seriesVisibilityChange)="seriesVisibilityChanged($event)"
>
  <dt-chart-tooltip>
    <ng-template let-tooltip>
      <dt-key-value-list style="min-width: 100px">
        <dt-key-value-list-item *ngFor="let data of tooltip.points">
          <dt-key-value-list-key>
            {{ data.series.name }}
          </dt-key-value-list-key>
          <dt-key-value-list-value>
            {{ data.point.y }}
          </dt-key-value-list-value>
        </dt-key-value-list-item>
      </dt-key-value-list>
    </ng-template>
  </dt-chart-tooltip>

  <dt-chart-heatfield [start]="1564546530000" [end]="1564546620000">
    Problem 1:
    <br />
    <a class="dt-link">View problem details</a>
  </dt-chart-heatfield>
  <dt-chart-heatfield
    [start]="1564546730000"
    [end]="1564546960000"
    color="main"
  >
    Overload prevention:
    <br />
    <a class="dt-link">View overload prevention</a>
  </dt-chart-heatfield>

  <dt-chart-range
    ariaLabelClose="Close the selection"
    ariaLabelLeftHandle="The left handle to update the selection"
    ariaLabelRightHandle="The right handle to update the selection"
    ariaLabelSelectedArea="The selected time-frame"
    (valid)="onTimeframeValidChanges($event)"
    (valueChanges)="onTimeframeChanges($event)"
    (closed)="closed()"
  >
    <button
      aria-label="Apply the selection"
      dt-button
      dtChartSelectionAreaAction
      [disabled]="!validRange"
      i18n
      (click)="simulateLoading()"
    >
      Apply
    </button>
  </dt-chart-range>
  <dt-chart-timestamp
    (valueChanges)="onTimeframeChanges($event)"
  ></dt-chart-timestamp>
</dt-chart>
<button (click)="setTimeframe()">set timeframe</button>
<button (click)="switchData()">change</button>

<dt-chart
  *ngIf="series && options"
  [options]="options"
  [series]="series"
  (seriesVisibilityChange)="seriesVisibilityChanged($event)"
>
  <dt-chart-tooltip>
    <ng-template let-tooltip>
      <dt-key-value-list style="min-width: 100px">
        <dt-key-value-list-item *ngFor="let data of tooltip.points">
          <dt-key-value-list-key>
            {{ data.series.name }}
          </dt-key-value-list-key>
          <dt-key-value-list-value>
            {{ data.point.y }}
          </dt-key-value-list-value>
        </dt-key-value-list-item>
      </dt-key-value-list>
    </ng-template>
  </dt-chart-tooltip>
</dt-chart>
