@mixin dt-theme-show-more($theme) {
  $is-dark: map-get($theme, 'is-dark');

  @if ($is-dark == true) {
    :host {
      @include dt-cdkmonitor-focus-style(true);

      .dt-show-more-label {
        color: $gray-200;
      }

      .dt-show-more-icon {
        fill: $turquoise-500;
      }

      &:hover:not(.dt-show-more-disabled) {
        .dt-show-more-label {
          color: #ffffff;
        }

        .dt-show-more-icon {
          fill: $turquoise-400;
        }
      }
    }
  }
}
