// stylelint-disable selector-class-pattern
// stylelint-disable selector-pseudo-element-colon-notation

/*
 * Disabled for replacing double-quote to single-quote errors
 * to avoid conflicts in future updates
 * (External library)
 */

@import 'icons-mixin';

$fonticons-version: '20171205';

@include icons('fonticon', $fonticons-version);

/* ============== DO NOT CHANGE BELOW THIS LINE ============= */

.fonticon-ExternalLink:before {
  content: '\e686';
}
.fonticon-Left:before {
  content: '\e902';
}
.fonticon-Menu_Hamburger:before {
  content: '\e6e9';
}
.fonticon-Dashboard:before {
  content: '\e901';
}
.fonticon-SearchMagnifyingGlass:before {
  content: '\e6ba';
}
.fonticon-Refresh:before {
  content: '\e6ae';
}
.fonticon-Help_bubble:before {
  content: '\e919';
}
.fonticon-AlarmOn:before {
  content: '\e729';
}
.fonticon-AlarmOff:before {
  content: '\e728';
}
.fonticon-UserUEM:before {
  content: '\e65c';
}
