#--------------------------
# disallow anything
#--------------------------
**

#--------------------------a
# allow explicit
#--------------------------
!package.json
!package-lock.json

# Used by multiple projects:
!tsconfig.base.json
!angular.json
!nx.json
!.npmrc


# Used by: /.deployment/workspace-base.Dockerfile
!/libs/shared
!/libs/workspace
!/.deployment

# Used by: /.deployment/barista/barista-internal.Dockerfile
!/dist/apps/barista-design-system/browser
!/dist/apps/next/

!/tools/bazel_build_cache

!/WORKSPACE
!/BUILD.bazel
!/libs
!/tools
!.bazelrc
!.bazelversion
!.bazelignore
