#--------------------------
# disallow anything
#--------------------------
**

#--------------------------
# allow explicit
#--------------------------
!package.json
!package-lock.json

# Used by multiple projects:
!tsconfig.json
!angular.json
!nx.json
!.npmrc


# Used by: /.deployment/workspace-base.Dockerfile
!/libs/shared
!/libs/workspace
!/.deployment

# Used by: /.deployment/barista/barista-internal.Dockerfile
!/dist/apps/barista-design-system/browser
