{
  "proseWrap": "always",
  "endOfLine": "lf",
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "css",
  "overrides": [
    { "files": ".prettierrc", "options": { "parser": "json" } },
    { "files": "*.ts.lint", "options": { "parser": "typescript" } },
    {
      "files": [
        "libs/barista-components/chart/src/chart.html",
        "libs/barista-components/chart/src/timestamp/timestamp.html",
        "libs/barista-components/filter-field/src/filter-field.html",
        "libs/barista-components/filter-field/src/filter-field-tag/filter-field-tag.html",
        "libs/barista-components/filter-field/src/filter-field-range/filter-field-range.html",
        "libs/barista-components/table/src/simple-columns/simple-text-column.html",
        "libs/barista-components/table/src/simple-columns/simple-number-column.html"
      ],
      "options": { "parser": "vue" }
    }
  ]
}
