/apps/demos/src/examples.module.ts
/apps/demos/src/examples.module.template
/apps/demos/src/app-routing.module.ts
/apps/demos/src/app-routing.module.template
/apps/demos/src/nav-items.template

/tools/schematics/*/files/**/*

/test/**/*
/tools/gulp/**/*
/tools/stylelint/**/*
/tools/templates/**/*

/.idea/**/*
/.vscode/**/*
/build/**/*
/dist/**/*
/node_modules/**/*
