/apps/barista-examples/src/app.module.ts
/apps/barista-examples/src/app.module.template
/apps/barista-examples/src/app.component.ts
/apps/barista-examples/src/app.component.template

/tools/schematics/*/files/**/*

/test/**/*
/tools/gulp/**/*
/tools/release/**/*
/tools/stylelint/**/*
/tools/templates/**/*

/.idea/**/*
/.vscode/**/*
/build/**/*
/dist/**/*
/node_modules/**/*
