<input
  class="ba-searchinput"
  type="text"
  #searchInput
  placeholder="Search barista..."
  aria-label="Search Barista"
/>
<span> {{ (searchResults$ | async)?.length }}</span>
<div
  class="ba-search-results"
  *ngIf="showResults$ | async"
  role="listbox"
  (keydown)="onKeydown($event)"
  tabindex="0"
>
  <ba-search-result-item
    *ngFor="let result of searchResults$ | async"
    [title]="result.title"
    [tag]="result.categorization"
    (activated)="navigateTo(result.url)"
  >
    <span [innerHTML]="result.highlight"></span>
  </ba-search-result-item>
</div>
