@import '../../../../../libs/barista-components/core/src/style/colors';
@import '../../../styles/global/mixins.scss';
@import '../../../styles/global/variables.scss';

:host {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
  max-width: 300px;
  display: none;
  position: relative;

  @media (min-width: $screen-lg) {
    display: flex;
  }
}

.ba-searchinput {
  width: 100%;
  appearance: none;
  background-color: transparent;
  border: none;
  color: $white;
  font-size: 1em;
}

.ba-search-results {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: $gray-900;
  min-width: 100%;
}
