---
layout: layouts/base.njk
---

{% extends "layouts/layout-variants/with-sidebar.njk" %}

{% block sidebar %}
  {% for section in componentSidebar %}
  <div class="ds-sidenav-section">
    <header class="ds-sidenav-section-title">{{section.title | title}}</header>
    <ul>
    {% for item in section.items %}
      <li>
        <a
          class="ds-sidenav-item {{"ds-sidenav-item-active" if item.link in page.url}}"
          href="{{item.link}}"
        >
          {{ item.title }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
{% endblock %}

{% block main %}
  {{ component.content | markdownify | safe }}

  {% if component.readmeContent %}
  
  <h2>API Docs<h2>
  {{ component.readmeContent | markdownify |safe }}
  {% endif %}
{% endblock %}
