<div class="ba-page--grid">
  <nav class="ba-sidebar">sidebar goes here</nav>
  <!-- TODO: sidebar component -->

  <ba-page-header
    *ngIf="contents"
    [title]="contents.title"
    [description]="contents.description"
    [contributors]="contents.contributors"
    [properties]="contents.properties"
    [wiki]="contents.wiki"
    [themable]="contents.themable"
  ></ba-page-header>

  <main class="ba-page__main" id="main" role="main">
    <article class="ba-page__content">
      <ba-page-content [data]="contents.contentHtml"></ba-page-content>
    </article>
  </main>

  <ba-page-footer
    *ngIf="contents"
    [tags]="contents.tags"
    [relatedTopics]="contents.related"
  >
  </ba-page-footer>
</div>
