<design-tokens-ui-nav>
  <a routerLink="/" designTokensUiNavLogo>
    <img
      src="https://dt-cdn.net/images/dynatrace-logo-rgb-cnh-800x142px-8ad53ac283.svg"
      alt="Dynatrace logo"
      width="146"
      class="design-tokens-ui-top-logo"
    />
  </a>
  <a
    routerLink="/theme"
    routerLinkActive="design-tokens-ui-router-active"
    designTokensUiNavItem
  >
    <dt-icon name="color"></dt-icon>
    <span i18n>Themes</span>
  </a>
  <a
    routerLink="/spacing"
    routerLinkActive="design-tokens-ui-router-active"
    designTokensUiNavItem
  >
    <dt-icon name="expand"></dt-icon>
    <span i18n>Spacing</span>
  </a>
</design-tokens-ui-nav>

<main class="design-tokens-ui-main">
  <router-outlet></router-outlet>
</main>
