<design-tokens-ui-nav>
  <a routerLink="/" designTokensUiNavLogo>
    <img
      src="https://dt-cdn.net/images/dynatrace-logo-rgb-cnh-800x142px-8ad53ac283.svg"
      alt="Dynatrace logo"
      width="146"
      class="design-tokens-ui-top-logo"
    />
  </a>
  <a
    routerLink="/palette"
    routerLinkActive="design-tokens-ui-router-active"
    designTokensUiNavItem
  >
    <dt-icon name="color"></dt-icon>
    <span i18n>Palettes</span>
  </a>
</design-tokens-ui-nav>

<div class="design-tokens-ui-top-bar">
  <label class="design-tokens-ui-theme-switcher" i18n>Theme: </label>
  <dt-select
    [ngModel]="_theme"
    (ngModelChange)="_setTheme($event)"
    aria-label="Theme selection"
    class="design-tokens-ui-theme-select"
  >
    <dt-option value="abyss">Abyss</dt-option>
    <dt-option value="surface">Surface</dt-option>
  </dt-select>
</div>

<main class="design-tokens-ui-main">
  <router-outlet></router-outlet>
</main>
