@import '../core/style/variables';
@import '../core/theming/theming';

@mixin dt-theme-icon($theme) {
  $color-names: 'main', 'accent', 'warning', 'error', 'cta', 'light', 'dark';
  $is-dark: map-get($theme, 'is-dark');

  @each $name in $color-names {
    // default to light
    $color: #ffffff;
    @if $is-dark == true {
      $color: #ffffff;
    } @else if $name == 'dark' {
      $color: #cccccc;
    } @else if $name != 'light' {
      $palette: dt-get-theme-palette($theme, $name);
      $color: dt-get-theme-color($palette, 'default');
    }
    .dt-icon.dt-color-#{$name} svg {
      fill: $color;
    }
  }
}
