@import './icon-theme';

.dt-icon {
  display: inline-block;
  height: 100%;
  width: 100%;
}

// Apply the icon theme to all theme definitions
@include dt-apply-theme() {
  @include dt-theme-icon($dt-current-theme);
}
