<dt-sidenav-container>
  <dt-sidenav #sidenav mode="side" opened>
    <dt-sidenav-header>
      <div class="sidenav-title">
        <dt-icon class="sidenav-title-image" name="dynatrace"></dt-icon>
        Dynatrace
      </div>
    </dt-sidenav-header>
    <dt-menu *ngFor="let navItem of filteredNavItems">
      <a [routerLink]="[navItem.route]" routerLinkActive dtMenuItem>
        {{ navItem.name }}
      </a>
    </dt-menu>
  </dt-sidenav>
  <dt-top-bar-navigation aria-label="Main navigation" class="nav">
    <dt-top-bar-navigation-item *ngIf="!sidenav.opened" align="start">
      <button class="top-bar-button" (click)="sidenav.open()">
        <dt-icon name="menu-hamburger"></dt-icon>
      </button>
    </dt-top-bar-navigation-item>
    <dt-top-bar-navigation-item align="end">
      <dt-select
        class="theme-selector"
        placeholder="Select a theme"
        [(ngModel)]="selectedTheme"
      >
        <dt-option *ngFor="let theme of themes" [value]="theme.value">
          {{ theme.name }}
        </dt-option>
      </dt-select>
    </dt-top-bar-navigation-item>
  </dt-top-bar-navigation>
  <main class="main" [dtTheme]="selectedTheme">
    <router-outlet></router-outlet>
  </main>
</dt-sidenav-container>
