@import 'colors';
@import '../../styles/global/fonts';
@import '../../styles/items/tags';

:host {
  grid-area: footer;
  padding-top: 1rem;
  border-top: 2px solid $gray-130;
}

.ba-page-footer-title {
  font-weight: 600;
  display: block;
  margin-bottom: 1rem;
}

footer {
  margin-bottom: 3rem;
}
