<div class="demo-card">
  <dt-card>
    <dt-card-title>Top 3 JavaScript errors</dt-card-title>
    <dt-card-subtitle>Some subtitle</dt-card-subtitle>
    <dt-card-title-actions>
      <button dt-button variant="secondary">Some Action</button>
      <button dt-button variant="secondary">Action</button>
    </dt-card-title-actions>
    The card is not an interactive element, therefore, there are no hover, active and disabled card.
  </dt-card>
</div>

<div class="demo-card">
  <dt-card>
    <dt-card-title>Top 3 JavaScript errors</dt-card-title>
    This is some generic content
    <dt-card-footer-actions>
      <button dt-button variant="secondary">Analyse response time</button>
      <button dt-button variant="primary">Details</button>
    </dt-card-footer-actions>
  </dt-card>
</div>