<div class="design-tokens-ui-theme-header">
  <h2 class="design-tokens-ui-theme-name">{{ name }}</h2>
  <fluid-button [routerLink]="name" emphasis="high" size="small" i18n
    >Edit theme</fluid-button
  >
</div>
<div class="design-tokens-ui-theme-preview--wrapper">
  <div *ngFor="let palette of palettes" class="design-tokens-ui-theme-preview">
    <span class="design-tokens-ui-palette-name">{{
      palette.name | humanize
    }}</span>
    <span
      class="design-tokens-ui-palette-preview"
      [style.background-color]="palette.tokenData.keyColor"
    ></span>
  </div>
</div>
