<dt-filter-field
  [loading]="_loading"
  [dataSource]="_dataSource"
  [disabled]="_disabled"
  label="Filter by"
  clearAllLabel="Clear all"
  [filters]="filters"
  [customTagParser]="customParser"
  [customEditionParser]="_useCustomEditorParser ? customEditionParser : null"
  (inputChange)="inputChange($event)"
  (filterChanges)="filterChanges($event)"
  (currentFilterChanges)="currentFilterChanges($event)"
></dt-filter-field>

<div>
  <dt-radio-group class="dev-group" [(ngModel)]="activeDataSourceName">
    <dt-radio-button
      *ngFor="let name of dataSourceNames"
      class="dev-radio-button"
      [value]="name"
    >
      {{ name }}
    </dt-radio-button>
  </dt-radio-group>
  <div class="demo-controls">
    <button
      dt-button
      class="disable-tag-button"
      variant="secondary"
      [disabled]="!_firstTag"
      (click)="toggledDisableFirstTag()"
    >
      Toggle disabled on first tag
    </button>
    <button
      dt-button
      class="disable-tag-button"
      variant="secondary"
      [disabled]="!_firstTag"
      (click)="toggledDisableEditableFirstTag()"
    >
      Toggle disabled editable on first tag
    </button>
    <button
      dt-button
      class="disable-tag-button"
      variant="secondary"
      [disabled]="!_firstTag"
      (click)="toggledDisableDeletableFirstTag()"
    >
      Toggle disabled deletable on first tag
    </button>
    <button
      dt-button
      (click)="setValues()"
      variant="secondary"
      [disabled]="!canSetValues"
    >
      Set values
    </button>
    <button dt-button (click)="_loading = !_loading" variant="secondary">
      Toggle loading
    </button>
    <button dt-button (click)="_disabled = !_disabled" variant="secondary">
      Toggle disabled
    </button>
    <button dt-button (click)="getTagForFilter()">getTagForFilter</button>
    <button variant="secondary" dt-button (click)="getEditionForFilter()">
      Custom edition parser ({{
        _useCustomEditorParser ? 'enabled' : 'disabled'
      }})
    </button>
    <button variant="secondary" dt-button (click)="setDeletableFirstTag()">
      Toggle deletable on first tag
    </button>
    <button variant="secondary" dt-button (click)="toggleDeletableAll()">
      Toggle deletable all
    </button>
    <button variant="secondary" dt-button (click)="addTagProgramatically()">
      Add Tag
    </button>
  </div>
</div>
