@import '../../../core/src/style/variables';
@import '../../../core/src/style/overlay';
@import './chart-heatfield-theme';

$animation-duration: 150ms;
$animation-delay: 125ms;

.dt-chart-heatfield-marker {
  height: 8px;
  outline: 2px solid #ffffff;
  border-radius: 3px;
  margin-bottom: 2px;
  position: absolute;
  cursor: pointer;
  border: none;
  width: 100%;
  display: block;
  z-index: 1;
  transform-origin: top;
  transition: transform $animation-duration ease-in-out $animation-delay;
}

.dt-chart-heatfield-marker.dt-chart-heatfield-active {
  transform: scaleY(1.5);
  transition: transform $animation-duration ease-in-out;
}

.dt-chart-heatfield-backdrop {
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform $animation-duration ease-out;
}

.dt-chart-heatfield-active + .dt-chart-heatfield-backdrop {
  transform: scaleY(1);
  transition: transform $animation-duration ease-out $animation-delay;
}

.dt-chart-heatfield-overlay {
  @include dt-overlay-container();
}

// Apply the heatfield theme to all theme definitions
@include dt-apply-theme() {
  @include dt-theme-chart-heatfield($dt-current-theme);
}
