<button (click)="hideBreadcrumbs = !hideBreadcrumbs" id="hide-breadcrumbs">
  Toggle breadcrumbs
</button>

<br />
<br />
<dt-breadcrumbs>
  <a *ngIf="!hideBreadcrumbs" dtBreadcrumbsItem href="">1</a>
  <a *ngIf="!hideBreadcrumbs" dtBreadcrumbsItem> Second </a>
  <a *ngIf="!hideBreadcrumbs" dtBreadcrumbsItem href="">
    dt-breadcrumbs-item component dt-breadcrumbs-item component
    dt-breadcrumbs-item component
  </a>
  <a *ngIf="!hideBreadcrumbs" dtBreadcrumbsItem href=""> Third view </a>
  <a *ngIf="!hideBreadcrumbs" dtBreadcrumbsItem
    >dt-breadcrumbs-item component dt-breadcrumbs-item component
    dt-breadcrumbs-item component</a
  >
</dt-breadcrumbs>
<br />

<button (click)="hideBreadcrumbs1 = !hideBreadcrumbs1" id="hide-breadcrumbs">
  Toggle breadcrumbs
</button>
<br />
<br />
<dt-breadcrumbs>
  <a dtBreadcrumbsItem>1</a>
  <a dtBreadcrumbsItem> Second </a>
  <a *ngIf="!hideBreadcrumbs1" dtBreadcrumbsItem href="">
    dt-breadcrumbs-item component dt-breadcrumbs-item component
    dt-breadcrumbs-item component
  </a>
  <a *ngIf="!hideBreadcrumbs1" dtBreadcrumbsItem href=""> Third view </a>
  <a dtBreadcrumbsItem
    >dt-breadcrumbs-item component dt-breadcrumbs-item component
    dt-breadcrumbs-item component</a
  >
</dt-breadcrumbs>

<dt-breadcrumbs>
  <a *ngIf="!hideBreadcrumbs" dtBreadcrumbsItem>First Breadcrumb</a>
  <a dtBreadcrumbsItem>Second</a>
  <a dtBreadcrumbsItem href="">Third view</a>
  <a dtBreadcrumbsItem
    >dt-breadcrumbs-item component dt-breadcrumbs-item component
    dt-breadcrumbs-item component</a
  >
</dt-breadcrumbs>
