@import '~@dynatrace/fluid-design-tokens/global/theme';
@import '~@dynatrace/fluid-design-tokens/global/spacing';

:host {
  height: 100vh;
  background-color: var(--alternative-background-color);
  grid-area: sidenav;
  padding: 0 $fluid-spacing--large;
}

.ds-sidenav-section {
  margin: $fluid-spacing--small 0;
  display: flex;
  flex-direction: column;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      margin-bottom: $fluid-spacing--x-small;
    }
  }
}

.ds-sidenav-section-title {
  font-weight: 700;
  color: var(--color-maxcontrast);
  margin-bottom: $fluid-spacing--x-small;
}

.ds-sidenav-item {
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--alternative-font-color);
  position: relative;
  text-decoration: none;
}

.ds-sidenav-item.ds-sidenav-item-active {
  color: var(--color-maxcontrast);
}

.ds-sidenav-item.ds-sidenav-item-active:before {
  position: absolute;
  content: '• ';
  color: var(--color-primary-100);
  left: -$fluid-spacing--small;
}
