<dt-chart [options]="options" [series]="series" [dtChartSelectionArea]="area">
  <dt-chart-tooltip>
    <ng-template let-tooltip>
      <dt-key-value-list style="min-width: 100px">
        <dt-key-value-list-item *ngFor="let data of tooltip.points" [key]="data.series.name" [value]="data.point.y">
        </dt-key-value-list-item>
      </dt-key-value-list>
    </ng-template>
  </dt-chart-tooltip>
</dt-chart>
<dt-selection-area #area="dtSelectionArea" (changed)="handleChange($event)">
  {{left | date: 'MMM d, y - HH:mm':'GMT' }} - {{right | date: 'MMM d, y - HH:mm':'GMT'}}
  <dt-selection-area-actions>
    <button dt-button>Zoom in</button>
  </dt-selection-area-actions>
</dt-selection-area>