<button class="outside">Outside</button>

<dt-filter-field
  id="filter-field"
  [dataSource]="_dataSource"
  label="Filter by"
  clearAllLabel="Clear all"
></dt-filter-field>

<button id="switchToFirstDatasource" (click)="switchToDatasource(0)">
  Switch to first datasource
</button>
<button id="switchToSecondDatasource" (click)="switchToDatasource(1)">
  Switch to second datasource
</button>

<button id="setupSecondTestScenario" (click)="setupSecondTestScenario()">
  setupSecondTestScenario
</button>
