<button dt-button (click)="run()">Run...</button>

<div style="width: 1600px">
  <dt-table [dataSource]="data">
    <ng-container
      [dtColumnDef]="'timestamp'"
      dtColumnAlign="text"
      dtColumnProportion="4"
    >
      <dt-header-cell *dtHeaderCellDef dt-header>timestamp</dt-header-cell>
      <dt-cell *dtCellDef="let row"
        ><span class="timestamp">{{ row.timestamp }}</span></dt-cell
      >
    </ng-container>

    <!-- <ng-container
        [dtColumnDef]="'status'"
        dtColumnAlign="text"
        dtColumnProportion="2"
      >
        <dt-header-cell *dtHeaderCellDef i18n>status</dt-header-cell>
        <dt-cell
          *dtCellDef="let row"
          [dtIndicator]="hasAlarmingStatus(row)"
          [dtIndicatorColor]="statusColor(row)"
        >
          {{ row.status }}
        </dt-cell>
      </ng-container>

      <ng-container
        [dtColumnDef]="logRecordColumnType.DT_ENTITY_HOST"
        dtColumnAlign="text"
        dtColumnProportion="3"
      >
        <dt-header-cell *dtHeaderCellDef i18n>{{
          logRecordColumnType.DT_ENTITY_HOST
        }}</dt-header-cell>
        <dt-cell uitestid="hostId" *dtCellDef="let row">
          {{
          row.additionalColumns[logRecordColumnType.DT_ENTITY_HOST]}}
        </dt-cell>
      </ng-container>

      <ng-container
        [dtColumnDef]="logRecordColumnType.DT_ENTITY_PROCESS_GROUP_INSTANCE"
        dtColumnAlign="text"
        dtColumnProportion="3"
      >
        <dt-header-cell *dtHeaderCellDef i18n>{{
          logRecordColumnType.DT_ENTITY_PROCESS_GROUP_INSTANCE
        }}</dt-header-cell>
        <dt-cell uitestid="processId" *dtCellDef="let row">
        {{
              row.additionalColumns[
                logRecordColumnType.DT_ENTITY_PROCESS_GROUP_INSTANCE
              ]
          }}
        </dt-cell>
      </ng-container>

      <ng-container
        [dtColumnDef]="logRecordColumnType.DT_SOURCE_ENTITY"
        dtColumnAlign="text"
        dtColumnProportion="3"
      >
        <dt-header-cell *dtHeaderCellDef i18n>{{
          logRecordColumnType.DT_SOURCE_ENTITY
        }}</dt-header-cell>
        <dt-cell uitestid="processId" *dtCellDef="let row">
          {{row.additionalColumns[logRecordColumnType.DT_SOURCE_ENTITY]}}}
        </dt-cell>
      </ng-container>

      <ng-container
        [dtColumnDef]="logRecordColumnType.DT_ENTITY_CUSTOM_DEVICE"
        dtColumnAlign="text"
        dtColumnProportion="3"
      >
        <dt-header-cell *dtHeaderCellDef i18n>{{
          logRecordColumnType.DT_ENTITY_CUSTOM_DEVICE
        }}</dt-header-cell>
        <dt-cell uitestid="processId" *dtCellDef="let row">
                        {{row.additionalColumns[logRecordColumnType.DT_ENTITY_CUSTOM_DEVICE]}}
        </dt-cell>
      </ng-container>

      <dt-simple-text-column
        [name]="logRecordColumnType.CONTENT"
        [label]="logRecordColumnType.CONTENT"
        sortable="false"
        dtColumnProportion="12"
      ></dt-simple-text-column>

      <ng-container
        dtColumnDef="details"
        dtColumnProportion="1"
        dtColumnAlign="control"
      >
        <dt-header-cell *dtHeaderCellDef i18n>details</dt-header-cell>
        <dt-expandable-cell
          *dtCellDef
          ariaLabel="Expand the row"
        ></dt-expandable-cell>
      </ng-container>

      <ng-container
        *ngFor="let column of this.additionalColumns"
        [dtColumnDef]="column"
        dtColumnAlign="text"
        dtColumnProportion="3"
      >
        <dt-header-cell *dtHeaderCellDef i18n>{{ column }}</dt-header-cell>
        <dt-cell *dtCellDef="let row" [title]="row.additionalColumns[column]">
          <span class="column-value">{{ row.additionalColumns[column] }}</span>
        </dt-cell>
      </ng-container> -->

    <dt-header-row *dtHeaderRowDef="visibleColumns"></dt-header-row>
    <dt-expandable-row *dtRowDef="let row; columns: visibleColumns">
      <ng-template dtExpandableRowContent> Argh!!! </ng-template>
    </dt-expandable-row>
  </dt-table>
</div>
