.next-btn-icon {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  background-color: transparent;
}
.next-btn-icon svg path {
  fill: var(--color-maxcontrast);
}

main {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--body-background-color);
  color: var(--color-maxcontrast);
  transition: background-color 500ms ease-in-out;
}

.nav-host {
  width: 100vw;
  font-family: sans-serif;
}

.next-nav {
  background-color: var(--alternative-background-color);
  position: relative;
  display: flex;
  justify-content: space-between;
}

.next-nav-wrapper {
  display: flex;
}

.next-theme-switch {
  padding-left: 12px;
  display: flex;
  align-items: center;
  border: none;
}

.next-nav-item {
  padding-left: 12px;
}

.next-nav-list {
  display: flex;
  justify-content: flex-start;
  padding-left: 12px;
  list-style-type: none;
}

.next-nav-brand {
  font-weight: bold;
  padding: 12px;
  font-size: large;
  display: flex;
  align-items: center;
}

.next-nav-link {
  text-decoration: none;
  padding-bottom: 4px;
}

.next-barista-theme {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.next-back-to-barista {
  text-decoration: none;
  text-transform: uppercase;
  font-size: small;
}

.next-nav-link-active {
  border-bottom: var(--color-primary-100) solid 2px;
}

.next-page-main {
  grid-area: main;
}

.sidenav {
  grid-area: sidenav;
}

.next-page-grid {
  display: grid;
  grid-template-columns: 300px auto 950px 280px auto;
  grid-template-areas:
    'sidenav . title . .'
    'sidenav . main meta .'
    'sidenav . footer meta .';
  padding: 16px;
  grid-row-gap: 1.5rem;
}
