:host {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

dt-pagination {
  align-self: center;
  margin: 1em 0;
}

.dt-button + .dt-button {
  margin-top: 8px;
}
.searchRow {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  width: 100%;
}
