@import '../../core/style/variables';
@import '../../core/style/interactive-common';

:host {
  position: absolute;
  width: 100%;
  height: 100%;
}

.dt-chart-timestamp-selector {
  position: absolute;
  height: 100%;
  width: 3px;
  background: $turquoise-600;
  left: 0;

  &:focus {
    @include dt-focus-style();
  }
}
