# Bazel configuration that will be used by Buildkite agent.
# This allows us adding specific configuration flags for builds within Buildkite.
# See more: https://docs.bazel.build/versions/master/user-manual.html#where-are-the-bazelrc-files

# Print all enabled Bazel flags in CI mode. This makes it easier to debug and reproduce
# Bazel issues that show up on Buildkite.
# common --announce_rc

# recommended options by bazel founders from BazelCon2019
# https://youtu.be/j332WfhNAFg?t=993
common --show_progress_rate_limit=5
common --curses=yes
common --color=yes
# width of the terminal emulator of buildkite
common --terminal_columns=143
# common --show_timestamps
build --verbose_failures
test --verbose_failures

# Save downloaded repositories in a location that can be cached by Buildkite. This helps us
# speeding up the analysis time significantly with Bazel managed node dependencies on the CI.
build --repository_cache=%workspace%/../buildkite-agent/repocache

# Setup disk_cache as it is way faster then the remote cache
build --disk_cache=%workspace%/../buildkite-agent/bazel_disk_cache

test --build_tests_only
test --flaky_test_attempts=3

# Set credentials for build cache enabling will be handled in the setup file

