<main>
  <div class="ba-page-content">
    <div class="ba-index-page-section ba-index-page-section-header">
      <div class="ba-title">
        <h1>{{ contents.title }}<span> {{ contents.subtitle }}</span></h1>
      </div>
    </div>
    <div class="ba-index-page-section">
      <h2>Recently ordered</h2>
      <ul class="ba-tilegrid-onerow">
        <li *ngFor="let item of _orderedItems">
          <ba-smalltile [data]="item"></ba-smalltile>
        </li>
      </ul>
      <h2>Most ordered</h2>
      <div class="ba-tilegrid-onerow">
        <ba-smalltile
          *ngFor="let item of contents.mostordered"
          [data]="item"
        ></ba-smalltile>
      </div>
    </div>
    <div
      *ngIf="contents.cta"
      class="ba-index-page-section ba-index-page-section-cta"
    >
      <div>
        <h2>{{ contents.cta.title }}</h2>
        <p>
          {{ contents.cta.text }}
        </p>
        <a
          class="ba-btn ba-btn-primary ba-btn-cta"
          [href]="contents.cta.buttonlink"
          >{{ contents.cta.buttontext }}</a
        >
      </div>
    </div>
    <div class="ba-index-page-section">
      <h2>Getting started</h2>
      <a
        *ngFor="let item of contents.gettingstarted"
        href="{{ item.link }}"
        class="ba-index-page-links"
        [style.border-left-color]="item.borderColor"
      >
        <h3>{{ item.title }}</h3>
        <p>{{ item.text }}</p>
      </a>
    </div>
  </div>
</main>
