<dt-radial-chart
  id="test-radial-chart"
  [type]="type"
  [valueDisplayMode]="valueDisplayMode"
  [selectable]="selectable"
>
  <dt-radial-chart-series
    *ngFor="let s of chartSeries"
    [value]="s.value"
    [name]="s.name"
    [selected]="s.selected"
  ></dt-radial-chart-series>
  <ng-template dtRadialChartOverlay let-series>
    <strong>{{ series.name }}</strong
    >: {{ series.value }} of {{ series.totalValue | number }}
  </ng-template>
</dt-radial-chart>

<button (click)="type = 'pie'" id="chart-type-pie">pie chart</button>
<button (click)="type = 'donut'" id="chart-type-donut">donut chart</button>

<button (click)="valueDisplayMode = 'absolute'" id="chart-value-mode-absolute">
  Absolute
</button>
<button (click)="valueDisplayMode = 'percent'" id="chart-value-mode-percent">
  Percent
</button>

<button (click)="selectable = false" id="chart-non-selectable">
  Non selectable
</button>
<button (click)="selectable = true" id="chart-selectable">Selectable</button>
<button (click)="chartSeries[0].selected = true" id="chart-set-select">
  Set select
</button>
