@import '../core/style/variables';
@import '../style/font-mixins';

:host {
  width: 100%;
  display: block;
  position: relative;
  text-align: right;
  overflow: hidden;
}

.dt-key-value-list-item-key {
  @include dt-label-font(28px);
  color: $gray-500;
  text-align: left;
  float: left;
  position: relative;
}

.dt-key-value-list-item-key::after {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: 9px;
  width: 50000px;
  border-bottom: 1px dotted $gray-300;
}

.dt-key-value-list-item-value {
  margin: 0;
  text-align: right;
  display: inline;
  @include dt-main-font(28px);
  padding-left: 24px;
  background-color: inherit;
  z-index: 1;
  word-wrap: break-word;
  word-break: break-all;
}

.dt-key-value-list-item-value span,
.dt-key-value-list-item-key span {
  background-color: #ffffff;
  z-index: 1;
  position: relative;
}
