<a
  class="design-tokens-ui-shades design-tokens-ui-basic-link"
  *ngFor="let palette of palettes"
  [routerLink]="palette.name"
  routerLinkActive="design-tokens-ui-palette-link-active"
>
  <div class="design-tokens-ui-palette-name">
    {{ palette.name | humanize }}
  </div>

  <div class="design-tokens-ui-shades--preview-list">
    <ng-container
      *ngFor="let shade of palette.tokenData.shades; index as shadeIndex"
    >
      <div
        *ngIf="palette.generatedColors[shadeIndex] as color"
        class="design-tokens-ui-shade-preview"
        [style.background-color]="color"
        [style.color]="_getTextColorOnBackground(color)"
      >
        <span
          class="design-tokens-ui-shade-description design-tokens-ui-shade-name"
          >{{ shade.aliasName }} ({{ shade.ratio }})</span
        >
        <span
          class="design-tokens-ui-shade-description design-tokens-ui-shade-color"
          >{{ color }}</span
        >
      </div>
    </ng-container>
  </div>
</a>
