<dt-event-chart>
  <dt-event-chart-event
    (selected)="triggerSelection($event)"
    value="0"
    lane="xhr"
  ></dt-event-chart-event>
  <dt-event-chart-event
    (selected)="triggerSelection($event)"
    value="15"
    lane="xhr"
  ></dt-event-chart-event>
  <dt-event-chart-event
    (selected)="triggerSelection($event)"
    value="21.5"
    lane="xhr"
  ></dt-event-chart-event>
  <dt-event-chart-event
    (selected)="triggerSelection($event)"
    value="20"
    lane="xhr"
  ></dt-event-chart-event>
  <dt-event-chart-event
    (selected)="triggerSelection($event)"
    value="35"
    lane="xhr"
  ></dt-event-chart-event>
  <dt-event-chart-event
    (selected)="triggerSelection($event)"
    value="10"
    lane="user-event"
  ></dt-event-chart-event>
  <dt-event-chart-event
    (selected)="triggerSelection($event)"
    value="35"
    lane="xhr"
    duration="15"
  ></dt-event-chart-event>
  <dt-event-chart-event
    (selected)="triggerSelection($event)"
    value="75"
    lane="user-event"
  ></dt-event-chart-event>

  <dt-event-chart-lane name="xhr" label="XHR"></dt-event-chart-lane>
  <dt-event-chart-lane
    name="user-event"
    label="User event"
  ></dt-event-chart-lane>

  <ng-template dtEventChartOverlay let-tooltip>
    <div *ngFor="let t of tooltip">Data for element: {{ t.data }}</div>

    <button
      class="dt-e2e-event-chart-analyze-button"
      dt-button
      variant="secondary"
      (click)="analyze(tooltip)"
    >
      Analyze
    </button>
  </ng-template>
</dt-event-chart>

<div>
  <button class="select-next-event" dt-button (click)="selectNextEvent()">
    Select next event
  </button>
  <button class="deselect-events" dt-button (click)="deselectEvent()">
    Deselect
  </button>
  <!-- <button class="make-zone-unstable" (click)="makeZoneUnstable()">
    Make zone unstable after resize
  </button> -->
</div>
