<header>
  <h1 class="ba-page-title">{{ title }}</h1>
  <p *ngIf="description" class="ba-page-description">{{ description }}</p>
  <div class="ba-page-properties">
    <a *ngIf="themable" class="ba-tag" href="/patterns/theming">themable</a>
    <a *ngIf="wiki" class="ba-tag" href="{{ wiki }}">UX Wiki page</a>
    <dt-tag *ngFor="let property of properties">{{property}}</dt-tag>
  </div>
  <div *ngIf="_showContributors" class="ba-contributors">
    <ba-contributors
      *ngIf="contributors.dev"
      [type]="'dev'"
      [contributors]="contributors.dev"
    ></ba-contributors>
    <ba-contributors
      *ngIf="contributors.ux"
      [type]="'ux'"
      [contributors]="contributors.ux"
    ></ba-contributors>
  </div>
</header>
