@import '../../core/src/style/variables';
@import '../../style/font-mixins';
@import '../../core/src/style/button';

$empty-state-icon-size: 28px;
$empty-state-icon-area-size: 60px;

:host {
  display: block;
}

.dt-empty-state-item-image-area {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  min-width: 120px;
  max-width: 180px;
}

.dt-empty-state-item-text-area {
  max-width: 580px;
}

.dt-empty-state-item-icon-area {
  display: none;
  height: $empty-state-icon-area-size;
  align-items: center;
  justify-content: center;

  .dt-icon {
    width: $empty-state-icon-size;
    height: $empty-state-icon-size;
    margin: auto;
    transform: rotate(90deg);

    ::ng-deep svg {
      fill: $gray-300;
    }
  }
}

::ng-deep {
  .dt-empty-state-item-title {
    display: block;
    margin-bottom: 16px;
    @include dt-h3-font();
  }

  .dt-empty-state-item-img {
    display: block;
    width: 100%;
    text-align: center;

    img,
    svg {
      max-width: 100%;
    }
  }

  .dt-empty-state-footer-actions {
    margin-top: 16px;
    @include dt-button-child-button-spacing();
  }
}

:host-context(.dt-empty-state-items-horizontal) {
  .dt-empty-state-item-content-area {
    display: flex;
  }

  .dt-empty-state-item-image-area {
    margin-right: 16px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

:host-context(.dt-empty-state-layout-horizontal) {
  display: flex;

  .dt-empty-state-item-icon-area {
    min-width: $empty-state-icon-area-size;
    flex: 0 0 $empty-state-icon-area-size;
    height: 100%;

    .dt-icon {
      transform: none;
    }
  }
}
