@import '../../style/font-mixins';

:host {
  display: flex;
  flex-flow: column;
  @include dt-default-font();

  &.dt-empty-state-layout-horizontal {
    flex-flow: row;
  }
}

/* Show the arrow icon between two empty state icons. */
::ng-deep
  .dt-empty-state-item
  + .dt-empty-state-item
  .dt-empty-state-item-icon-area {
  display: flex;
}
