button {
  margin-right: 8px;
  margin-bottom: 8px;
}

.dt-radial-chart ::ng-deep svg {
  max-width: 700px;
}

.dt-form-field {
  margin-bottom: 8px;
}

.flex-wrapper {
  display: flex;
}

.test-data {
  width: 300px;
  flex-basis: 300px;
}
