button {
  margin-right: 8px;
  margin-bottom: 8px;
}

dt-radial-chart {
  width: 400px;
}

.dt-form-field {
  margin-bottom: 8px;
}

.flex-wrapper {
  display: flex;
}

.test-data {
  width: 300px;
  flex-basis: 300px;
}
