@import '~@dynatrace/fluid-design-tokens/global/theme';
@import '~@dynatrace/fluid-design-tokens/global/spacing';
@import '~@dynatrace/fluid-design-tokens/global/typography';

.fluid-theme--abyss {
  --body-background-color: var(--color-neutral-60);
  --alternative-background-color: var(--color-background);
}

.fluid-theme--surface {
  --body-background-color: var(--color-background);
  --alternative-background-color: var(--color-neutral-60);
}

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  @include fluid-dt-text();
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  @include fluid-dt-text();
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: $fluid-spacing--0;
  padding: $fluid-spacing--0;
  font-family: sans-serif;
}

h1 {
  @include fluid-dt-h1();
}

h2 {
  @include fluid-dt-h2();
}

h3 {
  @include fluid-dt-h3();
}

h4 {
  @include fluid-dt-h4();
}

h5 {
  @include fluid-dt-h5();
}

h6  {
  @include fluid-dt-h6();
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: var(--color-maxcontrast);
}

.next-btn-icon {
  padding-left: $fluid-spacing--0;
  padding-right: $fluid-spacing--0;
  text-align: center;
  background-color: transparent;

  svg path {
    fill: var(--color-maxcontrast);
  }
}
