@import '../../core/src/style/variables';

:host {
  transform: translateX(-100%);
  will-change: transform;
  background-color: $gray-700;
  color: #ffffff;
  min-width: 240px;
  z-index: 100;
}

.dt-sidenav-header {
  display: flex;
  height: 44px;
  min-width: 240px;
  cursor: pointer;
  background: #525252;
}

.dt-sidenav-close-button {
  max-height: 44px;
  width: 44px;
  background: #525252;
  border: none;
  fill: #ffffff;
  text-align: center;
  margin-left: auto;
  outline: none;
  cursor: pointer;

  &:hover {
    background: #444646;
  }
}

.dt-sidenav-close-button-icon {
  width: 22px;
  height: 22px;
}

.dt-sidenav-header-title {
  height: 44px;
  width: 196px;
  padding-left: 12px;
  line-height: 44px;
  vertical-align: middle;
  text-align: left;
}

.dt-sidenav-body {
  overflow-y: auto;
  overflow-x: hidden;
}
