@import '../core/style/variables';
@import '../core/theming/theming';

@mixin dt-theme-button-group-item($theme) {
  $palette-names: 'main', 'error';
  $default-palette: 'main';

  @each $name in $palette-names {
    $palette: dt-get-theme-palette($theme, $name);
    $default-color: dt-get-theme-color($palette, 'default');
    $hover-color: dt-get-theme-color($palette, 'hover');
    $active-color: dt-get-theme-color($palette, 'active');
    $background-color: $gray-100;
    $border-color: $gray-300;

    $namespace: ':host';
    @if $name != $default-palette {
      $namespace: ':host.dt-color-#{$name}';
    }

    #{$namespace} {
      border-color: $border-color;
    }

    #{$namespace}.dt-button-group-item:not(.dt-button-group-item-disabled) {
      color: $default-color;
    }

    #{$namespace}.dt-button-group-item:hover {
      color: $hover-color;
      border-color: $hover-color;
    }

    #{$namespace}.dt-button-group-item.dt-button-group-item-selected,
    #{$namespace}.dt-button-group-item:active {
      &:not(.dt-button-group-item-disabled) {
        z-index: 1;
        position: relative;
        color: $active-color;
        background-color: $background-color;
        border-color: $active-color;
      }
    }
  }
}
