@import '../style/font-mixins';
@import '../core/style/variables';
@import '../core/style/interactive-common';
@import '../core/theming/theming';
@import './button-group-item-theme';

:host {
  background-color: transparent;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-color: $gray-300;

  @include dt-main-font(32px);

  // Apply focus to CDK focus monitored elements
  @include dt-cdkmonitor-focus-style();

  padding: 0 12px;
  vertical-align: middle;

  cursor: pointer;
  transition: box-shadow 0.1s;

  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -1px;

  &:hover {
    z-index: 2;
    position: relative;
    background-color: $gray-100;
  }

  &:first-child {
    border-radius: 3px 0 0 3px;
    margin-left: 0;
  }

  &:last-child {
    border-radius: 0 3px 3px 0;
  }

  &.dt-button-group-item-disabled {
    pointer-events: none;
    color: $gray-300;
  }
}

// Apply the button-group-item theme to all theme definitions
@include dt-apply-theme() {
  @include dt-theme-button-group-item($dt-current-theme);
}
