<label>Theme: </label>
<select
  [(ngModel)]="_theme"
  (ngModelChange)="_themeChanged($event)"
  aria-label="Theme selection"
  class="design-tokens-ui-theme-select"
>
  <option value="abyss">Abyss</option>
  <option value="surface">Surface</option>
</select>

<nav>
  <ul>
    <li><a routerLink="/button">Button</a></li>
    <li><a routerLink="/button-group">Button-Group</a></li>
    <li><a routerLink="/checkbox">Checkbox</a></li>
    <li><a routerLink="/popover">Popover</a></li>
    <li><a routerLink="/tab">Tab</a></li>
    <li><a routerLink="/switch">Switch</a></li>
  </ul>
</nav>

<main class="main">
  <router-outlet></router-outlet>
</main>
