:host {
  display: block;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-maxcontrast);
  box-sizing: border-box; // Avoid second scrollbar
  padding: 8px;
  overflow: auto;

  * {
    box-sizing: content-box;
  }
}

.main {
  display: block;
  border: 1px solid var(--color-neutral-80);
  padding: 1rem;
}
