:host {
  * {
    box-sizing: content-box;
  }
}

.root-provider {
  width: 100%;
  height: 100%;
  padding: 8px;
  box-sizing: border-box; // Avoid second scrollbar
  overflow: auto;
  display: block;
  background-color: var(--color-background);
  color: var(--color-maxcontrast);
}

.main {
  display: block;
  border: 1px solid var(--color-neutral-80);
  padding: 1rem;
}
