@import '~@dynatrace/fluid-design-tokens/global/spacing';

.design-tokens-ui-setting {
  display: flex;
  align-items: center;
  margin: $fluid-spacing--x-small 0;
  width: 100%;
  justify-content: space-between;

  input,
  dt-select {
    width: 200px;
  }

  &.design-tokens-ui-select-setting {
    justify-content: flex-start;

    .design-tokens-ui-settings-label {
      height: 32px;
    }
  }
}

.design-tokens-ui-labelled-input {
  input {
    text-align: right;
  }

  design-tokens-ui-color-picker {
    width: 50%;
  }
}
