<div class="ba-page-grid" *ngIf="_pageContent">
  <nav
    ba-sidenav
    *ngIf="_pageContent.sidenav"
    [sidenavData]="_pageContent.sidenav"
  ></nav>

  <ba-page-header
    [content]="_pageContent"
    [isIconOverviewPage]="_isIconOverview"
  ></ba-page-header>

  <main class="ba-page-main" id="main" role="main">
    <article class="ba-single-page-content">
      <ba-icon-overview-content
        *ngIf="_isIconOverview; else elseBlock"
        [icons]="_pageContent.icons"
      ></ba-icon-overview-content>
      <ng-template #elseBlock>
        <ba-page-content [data]="_pageContent.content"></ba-page-content>
      </ng-template>
    </article>
  </main>

  <ba-toc
    id="toc"
    *ngIf="!_isIconOverview && _pageContent.toc !== false"
    [tocItems]="_pageContent.tocitems"
  ></ba-toc>

  <ba-page-footer
    [tags]="_pageContent.tags"
    [relatedTopics]="_pageContent.related"
  >
  </ba-page-footer>
</div>
