<div class="ba-page-grid">
  <nav
    ba-sidenav
    *ngIf="contents.sidenav"
    [sidenavData]="contents.sidenav"
  ></nav>

  <ba-page-header
    *ngIf="contents"
    [title]="contents.title"
    [description]="contents.description"
    [contributors]="contents.contributors"
    [properties]="contents.properties"
    [wiki]="contents.wiki"
    [themable]="contents.themable"
  ></ba-page-header>

  <main class="ba-page-main" id="main" role="main">
    <article class="ba-single-page-content">
      <ba-page-content [data]="contents.content"></ba-page-content>
    </article>
  </main>

  <ba-toc *ngIf="_showTOC()"></ba-toc>

  <ba-page-footer
    *ngIf="contents"
    [tags]="contents.tags"
    [relatedTopics]="contents.related"
  >
  </ba-page-footer>
</div>
