.dt-oversized-option {
  line-height: 40px;

  // increase rule specificity
  &.dt-oversized-option {
    &:nth-child(n + 1) {
      background-color: #ff8;
    }

    &:nth-child(2n) {
      background-color: #998;
    }
  }
}
