@import 'colors';
@import '../../../../styles/global/variables';

.ba-uxd-navigation-wrapper {
  width: 100%;
  margin: 0 auto;
  margin-top: 32px;
}

@media only screen and (min-width: $screen-lg) {
  .ba-uxd-navigation-wrapper {
    width: 76%;
  }
}

.ba-uxd-navigation {
  margin-left: 18px;
}

@media only screen and (min-width: $screen-md) {
  .ba-uxd-navigation {
    margin-left: 32px;
  }
}

.ba-uxd-navigation-button {
  margin-right: 8px;
  margin-bottom: 32px;
}

.ba-uxd-navigation-taskbutton {
  display: inline-block;
  height: 32px;
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  border-radius: 3px;
  padding: 0 15px;
  margin-right: 8px;

  // Make anchors render like buttons.
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  line-height: -moz-block-height;

  &:hover {
    text-decoration: none;
    background-color: $royalblue-700;
  }
}

.ba-uxd-navigation-taskbutton-startover {
  background-color: $white;
  color: $turquoise-600;
  border-color: $white;

  &:hover {
    background-color: $gray-200;
  }
}
