<div style="margin-top: 16px;">
  <dt-breadcrumbs>
    <dt-breadcrumbs-item href="first">First view</dt-breadcrumbs-item>
    <dt-breadcrumbs-item [href]="['first', 'second', { param: 123 }]"
      >Second view</dt-breadcrumbs-item
    >
    <dt-breadcrumbs-item [href]="['first', 'second', { param: 123 }, 'third']"
      >Third view</dt-breadcrumbs-item
    >
    <dt-breadcrumbs-item>Current view</dt-breadcrumbs-item>
  </dt-breadcrumbs>
</div>

<div style="margin-top: 16px;">
  <dt-breadcrumbs color="error">
    <dt-breadcrumbs-item href="first">First view</dt-breadcrumbs-item>
    <dt-breadcrumbs-item [href]="['first', 'second', { param: 123 }]"
      >Second view</dt-breadcrumbs-item
    >
    <dt-breadcrumbs-item [href]="['first', 'second', { param: 123 }, 'third']"
      >Third view</dt-breadcrumbs-item
    >
    <dt-breadcrumbs-item>Current view</dt-breadcrumbs-item>
  </dt-breadcrumbs>
</div>

<div style="margin-top: 16px;">
  <dt-breadcrumbs color="neutral">
    <dt-breadcrumbs-item href="first">First view</dt-breadcrumbs-item>
    <dt-breadcrumbs-item [href]="['first', 'second', { param: 123 }]"
      >Second view</dt-breadcrumbs-item
    >
    <dt-breadcrumbs-item [href]="['first', 'second', { param: 123 }, 'third']"
      >Third view</dt-breadcrumbs-item
    >
    <dt-breadcrumbs-item>Current view</dt-breadcrumbs-item>
  </dt-breadcrumbs>
</div>
