<h4 class="quick-filter-group-headline">{{ _getViewValue(_nodeDef) }}</h4>

<ng-template [ngIf]="_isDistinct()" [ngIfElse]="notDistinct">
  <dt-radio-group
    class="quick-filter-group-items"
    (change)="_selectOption($event)"
  >
    <dt-radio-button [checked]="_isNothingSelected()" (change)="_unsetGroup()">
      Any
    </dt-radio-button>
    <dt-radio-button
      *ngFor="let item of _getOptions()"
      [value]="item"
      [checked]="_isActive(item)"
    >
      {{_getViewValue(item)}}
    </dt-radio-button>
  </dt-radio-group>
</ng-template>

<ng-template #notDistinct>
  <div class="quick-filter-group-items">
    <dt-checkbox
      *ngFor="let item of _getOptions()"
      [value]="item"
      [checked]="_isActive(item)"
      (change)="_selectCheckBox($event)"
    >
      {{_getViewValue(item)}}
    </dt-checkbox>
  </div>
</ng-template>

<ng-content></ng-content>
