<h4 class="quick-filter-group-headline">{{ _getViewValue(nodeDef) }}</h4>

<ng-template [ngIf]="_isDistinct()" [ngIfElse]="notDistinct">
  <dt-radio-group class="quick-filter-group-items">
    <dt-radio-button
      *ngFor="let item of _getOptions()"
      [value]="_getViewValue(item)"
    >
      {{_getViewValue(item)}}
    </dt-radio-button>
  </dt-radio-group>
</ng-template>

<ng-template #notDistinct>
  <div class="quick-filter-group-items">
    <dt-checkbox *ngFor="let item of _getOptions()">
      {{_getViewValue(item)}}
    </dt-checkbox>
  </div>
</ng-template>

<ng-content></ng-content>
