@import 'variables';

* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  @include fluid-dt-text();
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  @include fluid-dt-text();
  min-height: 100vh;
  margin: $fluid-spacing--0;
  padding: $fluid-spacing--0;
  font-family: sans-serif;
}

h1 {
  @include fluid-dt-h1();
}

h2 {
  @include fluid-dt-h2();
}

h3 {
  @include fluid-dt-h3();
}

h4 {
  @include fluid-dt-h4();
}

h5 {
  @include fluid-dt-h5();
}

h6  {
  @include fluid-dt-h6();
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  color: var(--color-maxcontrast);
}
