<!-- TODO replace with sidebar component when available -->
<nav>
  <form class="dt-demos-side-nav-searchform" novalidate>
    <input
      dtInput
      #filterInput
      [dtAutocomplete]="auto"
      [(ngModel)]="componentItemsFilterValue"
      type="search"
      name="searchbar"
      placeholder="Search for components"
      aria-label="Search for components"
    />
    <dt-autocomplete #auto="dtAutocomplete">
      <dt-option
        *ngFor="let suggestion of exampleSuggestions"
        [value]="suggestion"
      >
        {{ suggestion }}
      </dt-option>
    </dt-autocomplete>
  </form>

  <ul>
    <li
      *ngFor="let component of filteredComponentItems"
      class="dt-demos-side-nav-expandable-item"
      [class.dt-demos-side-nav-expandable-item-open]="expandablePanel.expanded"
    >
      <button
        class="dt-demos-side-nav-item-entry"
        [dtExpandablePanel]="expandablePanel"
      >
        <span>{{ component.name }}</span>
        <dt-icon name="dropdownopen"></dt-icon>
      </button>
      <dt-expandable-panel
        [expanded]="expandablePanel.expanded || component.expanded"
        #expandablePanel
      >
        <ul>
          <li *ngFor="let example of component.examples">
            <a
              class="dt-demos-side-nav-dt-link"
              [routerLink]="[example.route]"
              routerLinkActive
            >
              {{ example.name }}
            </a>
          </li>
        </ul>
      </dt-expandable-panel>
    </li>
  </ul>
</nav>
