* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: $mainfont;
  color: $textcolor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  /* pagetheme color fallback */
  --ba-pagetheme: #{$turquoise-500};
  --ba-pagetheme-dark: #{$turquoise-700};
  --ba-pagetheme-light: #{$turquoise-400};
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $linkcolor;
  transition: color 100ms ease-out;
}

a:hover {
  color: $turquoise-700;
  text-decoration: underline;
}

.dt-theme-dark a,
a.dt-theme-dark {
  color: #ffffff;
  text-decoration: underline;
}

.dt-theme-dark a:hover,
a.dt-theme-dark:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dt-theme-dark a:active,
a.dt-theme-dark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

a > img {
  display: inline;
}

pre {
  max-width: 100%;
  overflow: auto;
}

mark {
  background-color: $yellow-200;
}

code {
  font-family: 'Bitstream Vera', monospace;
}

/* Base styles within single page content. */
.ba-single-page-content ba-page-content {
  /* Table styles */
  > table {
    border-spacing: 0;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    width: 100%;

    th,
    td {
      padding: 8px 12px;
      text-overflow: ellipsis;
    }

    th {
      color: $gray-600;
      font-weight: 600;
      text-align: left;
      border-bottom: 1px solid $gray-200;
    }

    tr:nth-child(2n) {
      background-color: $gray-100;
    }
  }

  /* Definition list styles */
  > dl {
    background-color: #fff;
    padding: 0;
    margin: 0;
    line-height: 22px;
    font-size: 14px;
    display: block;
    text-decoration: none;
    border: none;
    width: 100%;
    position: relative;
    overflow: hidden;

    dt {
      padding-right: 3px;
      font-size: 12px;
      color: $gray-500;
      display: inline;
      position: relative;
      background-color: inherit;
      z-index: 1;
    }

    dd {
      padding-left: 8px;
      position: relative;
      display: block;
      text-align: right;
      margin-top: -22px;
      padding-bottom: 20px;
      right: 0;
      z-index: 0;
      text-shadow: 1px 2px 2px #fff, 2px 2px 2px #fff, 3px 2px 2px #fff,
        4px 2px 2px #fff, 5px 2px 2px #fff, 6px 2px 2px #fff, -1px 2px 1px #fff,
        -2px 2px 1px #fff, -3px 2px 2px #fff, -4px 2px 2px #fff,
        -5px 2px 2px #fff, -6px 2px 2px #fff;
    }

    dd::before {
      content: ' ';
      position: absolute;
      left: 0;
      width: 100%;
      display: block;
      overflow: hidden;
      height: 1em;
      margin-top: 1px;
      margin-left: -20px;
      border-bottom: 1px dotted $gray-300;
      z-index: -2;
    }

    dd + dd {
      margin-top: 8px;
    }
  }

  /* List styles */
  > ul,
  > ol {
    margin-left: 1rem;
    display: block;
    width: 100%;
    max-width: calc(#{$max-text-width} - 1rem);
    padding-left: 0.25rem;

    li > ul,
    li > ol {
      margin-bottom: 0;
    }

    li {
      position: relative;
    }
  }

  > ol li::before {
    content: none;
  }

  > ul li {
    position: relative;
    margin-bottom: 0;
  }

  > ul,
  > ul ul,
  > ol ul {
    list-style: none;
    display: block;
    width: 100%;
    max-width: calc(#{$max-text-width} - 1rem);

    li::before {
      content: ' ';
      background-color: $turquoise-500;
      background-color: var(--ba-pagetheme);
      width: 0.5rem;
      height: 0.5rem;
      position: relative;
      margin-left: -1.25rem;
      margin-right: 0.5rem;
      margin-top: 0.4em;
      vertical-align: top;
      float: left;
    }
  }

  > ol ol,
  > ul ol {
    li::before {
      content: none;
    }
  }

  > ul ul,
  > ol ul ul {
    li::before {
      height: 2px;
      margin-top: 0.65em;
    }
  }

  > ul ul ul,
  > ol ul ul ul {
    list-style: none;

    li::before {
      height: 1px;
      margin-top: 0.65em;
    }
  }
}

@media (max-width: $screen-xxl) {
  .ba-single-page-content ba-page-content > ul,
  .ba-single-page-content ba-page-content > ol {
    width: auto;
  }
}

@media (max-width: $table-breakpoint) {
  .ba-single-page-content ba-page-content > table {
    display: block;

    thead {
      display: none;
    }

    tbody {
      display: block;
      width: 100%;
    }

    tbody th {
      display: none;
    }

    tr {
      display: block;
      width: 100%;
    }

    td {
      display: block;
      border-top: 1px solid $gray-200;
      position: relative;
      padding-left: calc(50% + 12px);
      max-width: 100%;
      min-height: 40px;
      overflow: hidden;
    }

    td::before {
      content: attr(data-th) ' ';
      text-align: left;
      font-weight: 700;
      font-size: 12px;
      position: absolute;
      border-right: 1px solid $gray-200;
      height: 100%;
      top: 0;
      left: 12px;
      padding-top: 12px;
      width: calc(50% - 12px);
      white-space: inherit;
    }
  }
}
