* {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: $mainfont;
  color: $textcolor;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  /* pagetheme color fallback */
  --ba-pagetheme: #{$turquoise-500};
  --ba-pagetheme-dark: #{$turquoise-700};
  --ba-pagetheme-light: #{$turquoise-400};
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $linkcolor;
  transition: color 100ms ease-out;
}

a:hover {
  color: $turquoise-700;
  text-decoration: underline;
}

.ba-theme-dark a,
a.ba-theme-dark {
  color: #ffffff;
  text-decoration: underline;
}

.ba-theme-dark a:hover,
a.ba-theme-dark:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.ba-theme-dark a:active,
a.ba-theme-dark:active {
  background-color: rgba(255, 255, 255, 0.3);
}

a > img {
  display: inline;
}

pre {
  max-width: 100%;
  overflow: auto;
}

mark {
  background-color: $yellow-200;
}

code {
  font-family: 'Bitstream Vera', monospace;
}

.ba-single-page-content ba-page-content {
  & > table {
    border-spacing: 0;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    width: 100%;

    th,
    td {
      padding: 8px 12px;
      text-overflow: ellipsis;
    }

    th {
      color: $gray-600;
      font-weight: 600;
      text-align: left;
      border-bottom: 1px solid $gray-200;
    }

    tr:nth-child(2n) {
      background-color: $gray-100;
    }
  }
}

@media (max-width: $table-breakpoint) {
  .ba-single-page-content ba-page-content {
    & > table {
      display: block;

      thead {
        display: none;
      }

      tbody {
        display: block;
        width: 100%;
      }

      tbody th {
        display: none;
      }

      tr {
        display: block;
        width: 100%;
      }

      td {
        display: block;
        border-top: 1px solid $gray-200;
        position: relative;
        padding-left: calc(50% + 12px);
        max-width: 100%;
        min-height: 40px;
        overflow: hidden;
      }

      td:before {
        content: attr(data-th) ' ';
        text-align: left;
        font-weight: 700;
        font-size: 12px;
        position: absolute;
        border-right: 1px solid $gray-200;
        height: 100%;
        top: 0;
        left: 12px;
        padding-top: 12px;
        width: calc(50% - 12px);
        white-space: inherit;
      }
    }
  }
}
