.dt-theme-blue {
  --ba-pagetheme: #{$blue-600};
  --ba-pagetheme-dark: #{$blue-700};
  --ba-pagetheme-light: #{$blue-400};
}

.dt-theme-turquoise {
  --ba-pagetheme: #{$turquoise-500};
  --ba-pagetheme-dark: #{$turquoise-700};
  --ba-pagetheme-light: #{$turquoise-400};
}

.dt-theme-purple {
  --ba-pagetheme: #{$purple-600};
  --ba-pagetheme-dark: #{$purple-700};
  --ba-pagetheme-light: #{$purple-400};
}

.dt-theme-royalblue {
  --ba-pagetheme: #{$royalblue-500};
  --ba-pagetheme-dark: #{$royalblue-700};
  --ba-pagetheme-light: #{$royalblue-400};
}
