@import 'colors';

$mainfont: 'BerninaSansWeb', 'Open Sans', sans-serif;
$textcolor: $gray-700;
$linkcolor: $turquoise-600;
$disabledcolor: $gray-300;
$table-breakpoint: 1100px;

$screen-xs: 320px;
$screen-sm: 460px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1500px;
$screen-xxxl: 1920px;

$custom-ease: cubic-bezier(0.14, 0.46, 0.32, 1);

// 27.8 x 1.48 x 16px
$max-text-width: 660px;
