<div class="ds-main ds-main-layout-without-sidebar">
  <div class="ds-page-grid">
    <main class="ds-page-main" id="main" role="main">
      <article class="ds-page-content">
      {% block main %}
      {% endblock %}
      </article>
    </main>
  </div>
</div>
