@import '../../../../libs/shared/design-tokens/generated/global/spacing';

main {
  min-height: 100vh;
  margin: $fluid-spacing--0;
  padding: $fluid-spacing--0;
  background-color: var(--body-background-color);
  color: var(--body-background-color);
  transition: background-color 500ms ease-in-out;
}
