@import '~@dynatrace/fluid-design-tokens/global/spacing';

main {
  min-height: 100vh;
  margin: $fluid-spacing--0;
  padding: $fluid-spacing--0;
  background-color: var(--body-background-color);
  color: var(--alternative-font-color);
  transition: background-color 500ms ease-in-out;
}
