<nav class="nav">
  <dt-select
    class="theme-selector"
    placeholder="Select a theme"
    [(ngModel)]="selectedTheme"
  >
    <dt-option *ngFor="let theme of themes" [value]="theme.value">
      {{ theme.name }}
    </dt-option>
  </dt-select>
</nav>
<div class="content-wrapper" [dtTheme]="selectedTheme">
  <nav class="sidenav">
    <form class="searchform" novalidate>
      <input
        dtInput
        [dtAutocomplete]="auto"
        [(ngModel)]="navItemsFilterValue"
        type="search"
        name="searchbar"
        placeholder="Search for components"
        aria-label="Search for components"
      />
      <dt-autocomplete #auto="dtAutocomplete">
        <dt-option
          *ngFor="let navItem of filteredNavItems"
          [value]="navItem.name"
        >
          {{ navItem.name }}
        </dt-option>
      </dt-autocomplete>
    </form>

    <ul>
      <li *ngFor="let navItem of filteredNavItems">
        <a [routerLink]="[navItem.route]" routerLinkActive>
          {{ navItem.name }}
        </a>
      </li>
    </ul>
  </nav>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
