@import '../lib/style/index';

* { box-sizing: border-box; }

*::after,
*::before {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
}

// h1,
// h2,
// h3 {
//   @extend %typecsset-reset;
// }

// h4,
// h5,
// h6 {
//   @include custom-font-size(16px);
//   margin-bottom: 6px;
// }

// h1:not(:first-child),
// h2:not(:first-child),
// h3:not(:first-child),
// h4:not(:first-child),
// h5:not(:first-child),
// h6:not(:first-child) {
//   margin-top: 32px;
// }

// code {
//   font-size: 12px;
// }

// .demo-card {
//   background-color: #f2f2f2;
//   border: 1px solid #f2f2f2;
// }

// .demo-card.dark {
//   padding: 0;
// }

// .dark {
//   background-color: #2d2d2d;
//   color: #fff;
//   padding: 16px;
// }

// .example-error {
//   padding: 10px 16px;
//   border: 1px solid $yellow-600;
//   border-radius: 3px;
//   max-width: 380px;

//   code {
//     background: #eee;
//     padding: 0 4px;
//   }
// }
