@import '../../../../../libs/shared/design-tokens/generated/global/spacing';

.next-page-grid {
  display: grid;
  grid-template-columns: 270px minmax(0, 1fr) 280px;
  grid-template-rows: repeat(2, max-content) 1fr;
  grid-template-areas:
    'sidenav title .'
    'sidenav main meta'
    'sidenav footer .';
}
