@import 'colors';

:host {
  min-height: 100px;

  ::ng-deep .dt-icon {
    height: auto;
  }
}

.ba-lazy-icon-title {
  display: block;
  font-size: 0.8rem;
}

.ba-lazy-icon-wrapper {
  width: 3rem;
  height: 3rem;
  display: inline-block;
  background-color: $gray-100;
}
