<h1 i18n>Spacing</h1>

<div class="design-tokens-ui-palette-options">
  <fluid-button (click)="_yamlExport()" emphasis="high">
    <span i18n>Export as YAML</span>
  </fluid-button>
</div>

<div class="design-tokens-ui-spacing-preview--container">
  <div class="design-tokens-ui-spacing-item">
    <!-- Dummy item for a box on top -->
    <div class="design-tokens-ui-spacing-size-preview"></div>
    <div class="design-tokens-ui-spacing-box"></div>
  </div>

  <div
    *ngFor="let spacing of _spacings$ | async; trackBy: _trackSpacingKey"
    class="design-tokens-ui-spacing-item"
  >
    <div
      class="design-tokens-ui-spacing-size-preview"
      [style.--spacing]="spacing.value"
    >
      <span class="design-tokens-ui-spacing-text">
        <span>{{ _getTokenDisplayName(spacing.key) }}</span>
        <input
          class="design-tokens-ui-spacing-value"
          designTokensUiInput
          [ngModel]="spacing.value"
          (ngModelChange)="_modifySpacing(spacing.key, $event)"
        />
      </span>

      <div class="design-tokens-ui-spacing-arrows">
        <span
          class="design-tokens-ui-spacing-arrow design-tokens-ui-spacing-arrow-top"
        ></span>
        <span class="design-tokens-ui-spacing-arrow-line"></span>
        <span
          class="design-tokens-ui-spacing-arrow design-tokens-ui-spacing-arrow-bottom"
        ></span>
      </div>
    </div>

    <div class="design-tokens-ui-spacing-box"></div>
  </div>
</div>
