@import '../../styles/variables';

$box-height: 40px;
$spacing-line-height: 20px;

.design-tokens-ui-spacing-preview--container {
  margin: $fluid-spacing--large 0;
}

.design-tokens-ui-spacing-item {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: flex-end;
}

.design-tokens-ui-spacing-box {
  height: $box-height;
  width: 100%;
  background-color: var(--color-neutral-60);
  border: 1px solid var(--color-neutral-80);
}

.design-tokens-ui-spacing-size-preview {
  width: 280px;
  height: var(--spacing);
  margin-bottom: $box-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: $spacing-line-height;
  transition: height 200ms ease-out;
}

.design-tokens-ui-spacing-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-right: $fluid-spacing--medium;

  .design-tokens-ui-spacing-value {
    width: 70px;
    text-align: right;
  }
}

.design-tokens-ui-spacing-arrows {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: -6px;
  z-index: 100;
}

.design-tokens-ui-spacing-arrow-line {
  border-right: 2px solid var(--color-maxcontrast);
  height: 100%;
}

.design-tokens-ui-spacing-arrow-top {
  border-style: solid;
  border-width: 10px 6px 0;
  margin-top: -$spacing-line-height / 2;
  border-color: var(--color-maxcontrast) transparent transparent transparent;
}

.design-tokens-ui-spacing-arrow-bottom {
  border-style: solid;
  border-width: 0 6px 10px;
  margin-bottom: -10px;
  border-color: transparent transparent var(--color-maxcontrast) transparent;
}
