.fonticon-NetMicrosoft:before {
  content: "\e600";
}
.fonticon-Abort:before {
  content: "\e601";
}
.fonticon-Agent:before {
  content: "\e602";
}
.fonticon-AIX:before {
  content: "\e603";
}
.fonticon-AlertNotifiaction:before {
  content: "\e604";
}
.fonticon-Android:before {
  content: "\e605";
}
.fonticon-ApacheSolr:before {
  content: "\e606";
}
.fonticon-ApacheTomcat:before {
  content: "\e607";
}
.fonticon-Apache:before {
  content: "\e608";
}
.fonticon-APMngServer:before {
  content: "\e609";
}
.fonticon-Apple:before {
  content: "\e60a";
}
.fonticon-Application:before {
  content: "\e60b";
}
.fonticon-ApplicationMonitoring:before {
  content: "\e60c";
}
.fonticon-ApplicationNetworkMonitoring:before {
  content: "\e60d";
}
.fonticon-ApplicationServer:before {
  content: "\e60e";
}
.fonticon-ASPNet:before {
  content: "\e72d";
}
.fonticon-BigData:before {
  content: "\e60f";
}
.fonticon-BigDataServer:before {
  content: "\e610";
}
.fonticon-Browser:before {
  content: "\e611";
}
.fonticon-BusinessImpact:before {
  content: "\e612";
}
.fonticon-Calendar:before {
  content: "\e613";
}
.fonticon-Cassandra:before {
  content: "\e614";
}
.fonticon-CleanUp:before {
  content: "\e615";
}
.fonticon-Cloud:before {
  content: "\e616";
}
.fonticon-CloudControl:before {
  content: "\e617";
}
.fonticon-CloudShare:before {
  content: "\e618";
}
.fonticon-CloudSync:before {
  content: "\e619";
}
.fonticon-CouchDB:before {
  content: "\e61a";
}
.fonticon-Erlang:before {
  content: "\e71f";
}
.fonticon-Couchbase:before {
  content: "\e71b";
}
.fonticon-RabbitMQ:before {
  content: "\e71c";
}
.fonticon-RIAK:before {
  content: "\e71d";
}
.fonticon-CriticalEvent:before {
  content: "\e61b";
}
.fonticon-CustomAction:before {
  content: "\e72c";
}
.fonticon-DarwinApple:before {
  content: "\e61c";
}
.fonticon-DataBase:before {
  content: "\e61d";
}
.fonticon-DataBaseServer:before {
  content: "\e61e";
}
.fonticon-Desktop:before {
  content: "\e61f";
}
.fonticon-FailedUserAction:before {
  content: "\e620";
}
.fonticon-Firewall:before {
  content: "\e621";
}
.fonticon-FitToScreen:before {
  content: "\e622";
}
.fonticon-Glassfish:before {
  content: "\e623";
}
.fonticon-Hadoop:before {
  content: "\e624";
}
.fonticon-Home:before {
  content: "\e625";
}
.fonticon-HPUX:before {
  content: "\e626";
}
.fonticon-Hypervisor:before {
  content: "\e627";
}
.fonticon-IBMDB2:before {
  content: "\e628";
}
.fonticon-IISMicrosoft:before {
  content: "\e629";
}
.fonticon-Incident:before {
  content: "\e62a";
}
.fonticon-Information:before {
  content: "\e62b";
}
.fonticon-Infrastructure:before {
  content: "\e62c";
}
.fonticon-iOS:before {
  content: "\e62d";
}
.fonticon-IPv6:before {
  content: "\e62e";
}
.fonticon-Java:before {
  content: "\e62f";
}
.fonticon-JBoss:before {
  content: "\e630";
}
.fonticon-JRUBY:before {
  content: "\e631";
}
.fonticon-Jython:before {
  content: "\e632";
}
.fonticon-LifecyclePerformanceManagement:before {
  content: "\e633";
}
.fonticon-Linux:before {
  content: "\e634";
}
.fonticon-Live:before {
  content: "\e635";
}
.fonticon-LoadBalancer:before {
  content: "\e636";
}
.fonticon-LoadTest:before {
  content: "\e637";
}
.fonticon-Mainframe:before {
  content: "\e638";
}
.fonticon-MainframeServer:before {
  content: "\e639";
}
.fonticon-Memcached:before {
  content: "\e63a";
}
.fonticon-Mobile:before {
  content: "\e63b";
}
.fonticon-MobileApp:before {
  content: "\e748";
}
.fonticon-MongoDB:before {
  content: "\e63c";
}
.fonticon-MySQL:before {
  content: "\e63d";
}
.fonticon-NGINX:before {
  content: "\e63e";
}
.fonticon-NodeJS:before {
  content: "\e63f";
}
.fonticon-Notebook:before {
  content: "\e640";
}
.fonticon-Oracle:before {
  content: "\e641";
}
.fonticon-Overview:before {
  content: "\e642";
}
.fonticon-Pause:before {
  content: "\e643";
}
.fonticon-Perl:before {
  content: "\e644";
}
.fonticon-PHP:before {
  content: "\e645";
}
.fonticon-Pinpoint_Location:before {
  content: "\e900";
}
.fonticon-Play:before {
  content: "\e646";
}
.fonticon-Postgre:before {
  content: "\e647";
}
.fonticon-Process:before {
  content: "\e648";
}
.fonticon-Processes:before {
  content: "\e649";
}
.fonticon-Python:before {
  content: "\e64a";
}
.fonticon-RealUserMonitorWebsiteUsers_:before {
  content: "\e64b";
}
.fonticon-Redis:before {
  content: "\e64c";
}
.fonticon-Resume:before {
  content: "\e64d";
}
.fonticon-Ruby:before {
  content: "\e64e";
}
.fonticon-ruxit:before {
  content: "\e64f";
}
.fonticon-ruxitUser:before {
  content: "\e650";
}
.fonticon-Scala:before {
  content: "\e651";
}
.fonticon-ServerBracket:before {
  content: "\e652";
}
.fonticon-Services:before {
  content: "\e653";
}
.fonticon-SQLMicrosoft:before {
  content: "\e654";
}
.fonticon-Stop:before {
  content: "\e655";
}
.fonticon-Storage:before {
  content: "\e656";
}
.fonticon-Switch:before {
  content: "\e657";
}
.fonticon-SyntheticMonitoring:before {
  content: "\e658";
}
.fonticon-Tablet:before {
  content: "\e659";
}
.fonticon-TabletUI:before {
  content: "\e65a";
}
.fonticon-Unknown:before {
  content: "\e65b";
}
.fonticon-UserUEM:before {
  content: "\e65c";
}
.fonticon-UserExperienceManagement:before {
  content: "\e65d";
}
.fonticon-W3C:before {
  content: "\e65e";
}
.fonticon-WebSphere:before {
  content: "\e65f";
}
.fonticon-Web:before {
  content: "\e660";
}
.fonticon-WebServer:before {
  content: "\e661";
}
.fonticon-Windows:before {
  content: "\e662";
}
.fonticon-zOS:before {
  content: "\e663";
}
.fonticon-AddColumnLeft:before {
  content: "\e664";
}
.fonticon-AddColumnRight:before {
  content: "\e665";
}
.fonticon-AddRowOnBottom:before {
  content: "\e666";
}
.fonticon-AddRowOnTop:before {
  content: "\e667";
}
.fonticon-AjaxEdition:before {
  content: "\e668";
}
.fonticon-APMaaS:before {
  content: "\e669";
}
.fonticon-APMAppliance:before {
  content: "\e66a";
}
.fonticon-APMngCollector:before {
  content: "\e66b";
}
.fonticon-Appliance:before {
  content: "\e66c";
}
.fonticon-ApplicationHealth:before {
  content: "\e66d";
}
.fonticon-Availability:before {
  content: "\e66e";
}
.fonticon-Backup:before {
  content: "\e66f";
}
.fonticon-Certificate:before {
  content: "\e670";
}
.fonticon-Chart:before {
  content: "\e671";
}
.fonticon-Chrome:before {
  content: "\e672";
}
.fonticon-CitrixWTSNetwork:before {
  content: "\e673";
}
.fonticon-ClientNetwork:before {
  content: "\e674";
}
.fonticon-Clock:before {
  content: "\e675";
}
.fonticon-Cluster:before {
  content: "\e676";
}
.fonticon-CollectiveInteligence:before {
  content: "\e677";
}
.fonticon-Community:before {
  content: "\e678";
}
.fonticon-Conversions:before {
  content: "\e679";
}
.fonticon-CPUProcessor:before {
  content: "\e67a";
}
.fonticon-Delete:before {
  content: "\e67b";
}
.fonticon-Documentation:before {
  content: "\e67c";
}
.fonticon-Download:before {
  content: "\e67d";
}
.fonticon-DropDownClosed:before {
  content: "\e67e";
}
.fonticon-DropDownClosed-mirrored:before {
  content: "\e67e";
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: inline-block;
}
.fonticon-DropDownOpen:before {
  content: "\e67f";
}
.fonticon-DropDownOpen-mirrored:before {
  content: "\e67f";
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
  display: inline-block;
}
.fonticon-Duplicate:before {
  content: "\e680";
}
.fonticon-Edit1:before {
  content: "\e681";
}
.fonticon-Edit2:before {
  content: "\e682";
}
.fonticon-Education:before {
  content: "\e683";
}
.fonticon-eServicesBAS:before {
  content: "\e684";
}
.fonticon-Event:before {
  content: "\e685";
}
.fonticon-ExternalLink:before {
  content: "\e686";
}
.fonticon-FaultDomainAnalysis:before {
  content: "\e687";
}
.fonticon-Favorite:before {
  content: "\e688";
}
.fonticon-Filter:before {
  content: "\e689";
}
.fonticon-Firefox:before {
  content: "\e68a";
}
.fonticon-Fixpack:before {
  content: "\e68b";
}
.fonticon-Forum:before {
  content: "\e68c";
}
.fonticon-GettingStarted:before {
  content: "\e68d";
}
.fonticon-HDDDiscDrive:before {
  content: "\e68e";
}
.fonticon-Host:before {
  content: "\e68f";
}
.fonticon-Hourglass:before {
  content: "\e690";
}
.fonticon-Idle:before {
  content: "\e691";
}
.fonticon-InfograhicHypervisor:before {
  content: "\e692";
}
.fonticon-InfrastructureHealth:before {
  content: "\e693";
}
.fonticon-Infrographic19Rack:before {
  content: "\e694";
}
.fonticon-InternetExplorer:before {
  content: "\e695";
}
.fonticon-LoadAction:before {
  content: "\e696";
}
.fonticon-Lock:before {
  content: "\e697";
}
.fonticon-MailClosed:before {
  content: "\e698";
}
.fonticon-MailOpen:before {
  content: "\e699";
}
.fonticon-Maintenance:before {
  content: "\e69a";
}
.fonticon-Marketing:before {
  content: "\e69b";
}
.fonticon-MemoryRAM:before {
  content: "\e69c";
}
.fonticon-Menu:before {
  content: "\e69d";
}
.fonticon-More:before {
  content: "\e907";
}
.fonticon-Multiple:before {
  content: "\e69e";
}
.fonticon-Network:before {
  content: "\e69f";
}
.fonticon-NextAdvance:before {
  content: "\e6a0";
}
.fonticon-Opera:before {
  content: "\e6a1";
}
.fonticon-OptionsMenu:before {
  content: "\e6a2";
}
.fonticon-OrcestrationPlatform:before {
  content: "\e6a3";
}
.fonticon-Partner:before {
  content: "\e6a4";
}
.fonticon-PerfromanceHealth:before {
  content: "\e6a5";
}
.fonticon-Pin:before {
  content: "\e6a6";
}
.fonticon-Plugin:before {
  content: "\e6a7";
}
.fonticon-PreSales:before {
  content: "\e6a8";
}
.fonticon-PureModel:before {
  content: "\e6a9";
}
.fonticon-PurePath:before {
  content: "\e6aa";
}
.fonticon-PurepathID:before {
  content: "\e6ab";
}
.fonticon-PureStack:before {
  content: "\e6ac";
}
.fonticon-RebuildStack:before {
  content: "\e6ad";
}
.fonticon-Refresh:before {
  content: "\e6ae";
}
.fonticon-RegisterDeals:before {
  content: "\e6af";
}
.fonticon-RemoveColumn:before {
  content: "\e6b0";
}
.fonticon-RemoveRow:before {
  content: "\e6b1";
}
.fonticon-Repair:before {
  content: "\e6b2";
}
.fonticon-Reports:before {
  content: "\e6b3";
}
.fonticon-Request:before {
  content: "\e6b4";
}
.fonticon-ResetPassword:before {
  content: "\e6b5";
}
.fonticon-Restore:before {
  content: "\e6b6";
}
.fonticon-Revert:before {
  content: "\e6b7";
}
.fonticon-Safari:before {
  content: "\e6b8";
}
.fonticon-Sales:before {
  content: "\e6b9";
}
.fonticon-SearchMagnifyingGlass:before {
  content: "\e6ba";
}
.fonticon-Sensor:before {
  content: "\e6bb";
}
.fonticon-Server:before {
  content: "\e6bc";
}
.fonticon-SupportContact:before {
  content: "\e6bd";
}
.fonticon-SupportHelp:before {
  content: "\e6be";
}
.fonticon-Table:before {
  content: "\e6bf";
}
.fonticon-TimeMeasurement:before {
  content: "\e6c0";
}
.fonticon-UnknownServer:before {
  content: "\e6c1";
}
.fonticon-Usage1:before {
  content: "\e6c2";
}
.fonticon-Usage2:before {
  content: "\e6c3";
}
.fonticon-vCenter:before {
  content: "\e6c4";
}
.fonticon-VMware:before {
  content: "\e6c5";
}
.fonticon-WAN:before {
  content: "\e6c6";
}
.fonticon-XHRProcess:before {
  content: "\e6c7";
}
.fonticon-Akamai:before {
  content: "\e6c8";
}
.fonticon-Amazon:before {
  content: "\e6c9";
}
.fonticon-AmazonWebservices:before {
  content: "\e6ca";
}
.fonticon-AmazonEBS:before {
  content: "\e724";
}
.fonticon-AmazonRDS:before {
  content: "\e723";
}
.fonticon-AmazonS3:before {
  content: "\e722";
}
.fonticon-AmazonELB:before {
  content: "\e725";
}
.fonticon-AngularJS:before {
  content: "\e6cb";
}
.fonticon-Appdynamics:before {
  content: "\e6cc";
}
.fonticon-Azure:before {
  content: "\e6cd";
}
.fonticon-Centos:before {
  content: "\e6ce";
}
.fonticon-Chart_2:before {
  content: "\e6cf";
}
.fonticon-Chart_Percentile:before {
  content: "\e906";
}
.fonticon-Checkmark:before {
  content: "\e6d0";
}
.fonticon-Checkmark_OK:before {
  content: "\e6d1";
}
.fonticon-Cloudflare:before {
  content: "\e6d2";
}
.fonticon-Debian:before {
  content: "\e6d3";
}
.fonticon-Desktop_NotVisible:before {
  content: "\e6d4";
}
.fonticon-Desktop_Visible:before {
  content: "\e6d5";
}
.fonticon-django:before {
  content: "\e6d6";
}
.fonticon-DojoToolkit:before {
  content: "\e6d7";
}
.fonticon-dynaTrace:before {
  content: "\e6d8";
}
.fonticon-EC2:before {
  content: "\e6d9";
}
.fonticon-ExtJS:before {
  content: "\e6da";
}
.fonticon-facebook:before {
  content: "\e6db";
}
.fonticon-google:before {
  content: "\e6dc";
}
.fonticon-GoogleWebkit:before {
  content: "\e6dd";
}
.fonticon-HAProxy:before {
  content: "\e6de";
}
.fonticon-HortonWorks:before {
  content: "\e6df";
}
.fonticon-HyperV:before {
  content: "\e6e0";
}
.fonticon-IBM:before {
  content: "\e6e1";
}
.fonticon-ICEfaces:before {
  content: "\e6e2";
}
.fonticon-jetty:before {
  content: "\e6e3";
}
.fonticon-jQuery:before {
  content: "\e6e4";
}
.fonticon-Kvm:before {
  content: "\e90c";
}
.fonticon-Spark:before {
  content: "\e90d";
}
.fonticon-SparkSig:before {
  content: "\e90e";
}
.fonticon-Link_2:before {
  content: "\e6e5";
}
.fonticon-Linux_VM:before {
  content: "\e6e6";
}
.fonticon-Live_Europe:before {
  content: "\e6e7";
}
.fonticon-Menu_Close:before {
  content: "\e6e8";
}
.fonticon-Menu_Hamburger:before {
  content: "\e6e9";
}
.fonticon-MooTools:before {
  content: "\e6ea";
}
.fonticon-Navigation_Back:before {
  content: "\e6eb";
}
.fonticon-Navigation_Forward:before {
  content: "\e6ec";
}
.fonticon-Navigation_Up:before {
  content: "\e6ed";
}
.fonticon-NewRelic:before {
  content: "\e6ee";
}
.fonticon-NOC:before {
  content: "\e6ef";
}
.fonticon-Openstack:before {
  content: "\e90d";
}
.fonticon-OracleDataBase:before {
  content: "\e6f0";
}
.fonticon-OracleSolaris:before {
  content: "\e6f1";
}
.fonticon-OracleWebLogic:before {
  content: "\e6f2";
}
.fonticon-Plus-Add:before {
  content: "\e6f3";
}
.fonticon-Prototype:before {
  content: "\e6f4";
}
.fonticon-RedHat:before {
  content: "\e6f5";
}
.fonticon-richFaces:before {
  content: "\e6f6";
}
.fonticon-RubyOnRails:before {
  content: "\e6f7";
}
.fonticon-Share:before {
  content: "\e6f8";
}
.fonticon-Smartscape:before {
  content: "\e6f9";
}
.fonticon-Smiley_Enraged_1:before {
  content: "\e6fa";
}
.fonticon-Smiley_Enraged_2:before {
  content: "\e6fb";
}
.fonticon-Smiley_Happy_1:before {
  content: "\e6fc";
}
.fonticon-Smiley_Happy_2:before {
  content: "\e6fd";
}
.fonticon-Smiley_Neutral_1:before {
  content: "\e6fe";
}
.fonticon-Smiley_Neutral_2:before {
  content: "\e6ff";
}
.fonticon-Smiley_OK_1:before {
  content: "\e700";
}
.fonticon-Smiley_OK_2:before {
  content: "\e701";
}
.fonticon-Smiley_Unhappy_1:before {
  content: "\e702";
}
.fonticon-Smiley_Unhappy_2:before {
  content: "\e703";
}
.fonticon-Sorter_Down:before {
  content: "\e704";
}
.fonticon-Sorter_Up:before {
  content: "\e705";
}
.fonticon-Storm_Apache:before {
  content: "\e706";
}
.fonticon-SuseLinux:before {
  content: "\e707";
}
.fonticon-Trend_down:before {
  content: "\e708";
}
.fonticon-Trend_up:before {
  content: "\e709";
}
.fonticon-Trend_down_2:before {
  content: "\e720";
}
.fonticon-Trend_up_2:before {
  content: "\e721";
}
.fonticon-twitter:before {
  content: "\e70a";
}
.fonticon-UbuntuLinux:before {
  content: "\e70b";
}
.fonticon-VarnishCache:before {
  content: "\e70c";
}
.fonticon-VirtualBox:before {
  content: "\e70d";
}
.fonticon-VirtualizationLayer:before {
  content: "\e70e";
}
.fonticon-VM_Azure:before {
  content: "\e70f";
}
.fonticon-VM_EC2:before {
  content: "\e710";
}
.fonticon-VM_HyperV:before {
  content: "\e711";
}
.fonticon-VM_Virtualbox:before {
  content: "\e712";
}
.fonticon-VM_VMware:before {
  content: "\e713";
}
.fonticon-VM_Xen:before {
  content: "\e714";
}
.fonticon-web2py:before {
  content: "\e715";
}
.fonticon-Wildfly:before {
  content: "\e716";
}
.fonticon-Windows_VM:before {
  content: "\e717";
}
.fonticon-Xen:before {
  content: "\e718";
}
.fonticon-XHR_Load_Action:before {
  content: "\e719";
}
.fonticon-zKoss:before {
  content: "\e71a";
}
.fonticon-Dont_Watch_eye:before {
  content: "\e71e";
}
.fonticon-ResourceRequest:before {
  content: "\e726";
}
.fonticon-TrialDayCounter:before {
  content: "\e727";
}
.fonticon-AlarmOff:before {
  content: "\e728";
}
.fonticon-AlarmOn:before {
  content: "\e729";
}

.fonticon-Infinity:before {
  content: "\e72a";
}
.fonticon-Hyperlizer:before {
  content: "\e72b";
}
.fonticon-FinishFlag:before {
  content: "\e72e";
}

.fonticon-HealthStatus:before {
  content: "\e72f";
}

.fonticon-ConnectionLost:before {
  content: "\e730";
}
.fonticon-File:before {
  content: "\e731";
}
.fonticon-CitySanJose:before {
  content: "\e73e";
}
.fonticon-CityNewYork:before {
  content: "\e73f";
}
.fonticon-CityAtlanta:before {
  content: "\e732";
}
.fonticon-CityBoston:before {
  content: "\e733";
}
.fonticon-CityChicago:before {
  content: "\e734";
}
.fonticon-City:before {
  content: "\e735";
}
.fonticon-CityDallas:before {
  content: "\e736";
}
.fonticon-CityFrankfurt:before {
  content: "\e737";
}
.fonticon-CityLondon:before {
  content: "\e738";
}
.fonticon-CityParis:before {
  content: "\e739";
}
.fonticon-CitySeattle:before {
  content: "\e73a";
}
.fonticon-ActionsPerSession:before {
  content: "\e73b";
}
.fonticon-BounceRate:before {
  content: "\e73c";
}
.fonticon-RealUser:before {
  content: "\e73d";
}
.fonticon-Recurring:before {
  content: "\e740";
}
.fonticon-Docker:before {
  content: "\e741";
}
.fonticon-LogFile:before {
  content: "\e742";
}
.fonticon-Load:before {
  content: "\e743";
}
.fonticon-CitySaoPaulo:before {
  content: "\e744";
}
.fonticon-CitySingapore:before {
  content: "\e745";
}
.fonticon-CitySydney:before {
  content: "\e746";
}
.fonticon-UserGroupMobile:before {
  content: "\e747";
}
.fonticon-Environment:before {
  content: "\e749";
}
.fonticon-Usergroup:before {
  content: "\e800";
}
.fonticon-Entry:before {
  content: "\e801";
}
.fonticon-Exit:before {
  content: "\e802";
}
.fonticon-Webpages:before {
  content: "\e803";
}
.fonticon-LeftEnd:before {
  content: "\e903";
}
.fonticon-Left:before {
  content: "\e902";
}
.fonticon-Right:before {
  content: "\e904";
}
.fonticon-RightEnd:before {
  content: "\e905";
}
.fonticon-Dashboard:before {
  content: "\e901";
}
.fonticon-Elasticsearch:before {
  content: "\e908";
}
.fonticon-IISDotNet:before {
  content: "\e909";
}
.fonticon-Netty:before {
  content: "\e90a";
}
.fonticon-Openstack:before {
  content: "\e90b";
}
.fonticon-Kvm:before {
  content: "\e90c";
}
.fonticon-Horizon:before {
  content: "\e90f";
}
.fonticon-Keystone:before {
  content: "\e910";
}
.fonticon-Glance:before {
  content: "\e911";
}
.fonticon-Cinder:before {
  content: "\e912";
}
.fonticon-Swift:before {
  content: "\e913";
}
.fonticon-MariaDB:before {
  content: "\e914";
}
.fonticon-MariaDB_Signet:before {
  content: "\e915";
}
.fonticon-Coldfusion_Signet:before {
  content: "\e916";
}
.fonticon-Sql_Lite_Signet:before {
  content: "\e917";
}
.fonticon-Sql_Lite:before {
  content: "\e918";
}
.fonticon-Help_bubble:before {
  content: "\e919";
}
.fonticon-Microsoft_Azure_Fabric:before {
  content: "\e91a";
}
.fonticon-ZeroMQ:before {
  content: "\e91b";
}
.fonticon-SAP:before {
  content: "\e91c";
}
.fonticon-Golang_Signet:before {
  content: "\e91d";
}
.fonticon-Container:before {
  content: "\e91f";
}
.fonticon-ReportsDeck:before {
  content: "\e920";
}
.fonticon-Hornetq:before {
  content: "\e91e";
}
.fonticon-Apache_Activemq:before {
  content: "\e921";
}
.fonticon-Tibco_Signet:before {
  content: "\e922";
}
.fonticon-Tibco:before {
  content: "\e923";
}
.fonticon-F5:before {
  content: "\e924";
}
.fonticon-Qemu:before {
  content: "\e925";
}
.fonticon-Qemu_Signet:before {
  content: "\e926";
}
.fonticon-WAS_Liberty_Profile:before {
  content: "\e927";
}
.fonticon-Embedded_PC:before {
  content: "\e928";
}
.fonticon-IoT:before {
  content: "\e929";
}
.fonticon-Ufo:before {
  content: "\e92a";
}
.fonticon-SAP_Sybase:before {
  content: "\e92b";
}
.fonticon-SAP_MaxDB:before {
  content: "\e92c";
}
.fonticon-SAP_Sybase_Signet:before {
  content: "\e92d";
}
