@import '../core/theming/theming';

@mixin dt-theme-progress-bar($theme) {
  $palette-names: 'main', 'accent', 'warning', 'recovered', 'error';
  $default-palette: 'main';
  $is-dark: map-get($theme, 'is-dark');

  @if ($is-dark == true) {
    :host {
      color: #ffffff;
    }
  }

  @each $name in $palette-names {
    $palette: dt-get-theme-palette($theme, $name);
    $default-color: dt-get-theme-color($palette, 'default');

    $namespace: ':host';
    @if $name != $default-palette {
      $namespace: ':host.dt-color-#{$name}';
    }

    #{$namespace} .dt-progress-bar-progress {
      background-color: $default-color;
    }
  }
}
