@import '../../../../styles/global/variables';

:host ::ng-deep button {
  font-weight: 600;
  cursor: pointer;
}

.ba-uxd-title {
  width: 100%;
  text-align: center;
  margin: 52px 0;
  padding: 4px;
}

@media (min-width: $screen-md) {
  .ba-uxd-title {
    width: 75%;
    margin: 72px auto 60px;
  }
}
