<p *ngIf="!_componentRef">Loading example "name"</p>

<div
  class="ba-live-example-demo"
  [class.ba-live-example-demo-background]="background"
>
  <div #demoPlaceholder></div>
</div>

<div
  class="ba-live-example-actions"
  [class.ba-live-example-source-hidden]="_sourceHidden"
>
  <nav class="ba-live-example-tabs" *ngIf="_hasSources()">
    <button
      *ngIf="templateSource"
      class="ba-live-example-tab"
      [class.ba-live-example-tab-active]="_activeTab === 'html'"
      [disabled]="_sourceHidden"
      (click)="_setActiveTab('html')"
    >
      HTML
    </button>
    <button
      *ngIf="classSource"
      class="ba-live-example-tab"
      [class.ba-live-example-tab-active]="_activeTab === 'ts'"
      [disabled]="_sourceHidden"
      (click)="_setActiveTab('ts')"
    >
      TS
    </button>
  </nav>
  <div class="ba-live-example-controls">
    <button
      title="Toggle source code"
      class="ba-live-example-control"
      (click)="_sourceHidden = !_sourceHidden"
    >
      <dt-icon *ngIf="!_sourceHidden" name="dont-watch"></dt-icon>
      <dt-icon *ngIf="_sourceHidden" name="overview"></dt-icon>
    </button>
    <button
      title="Copy to clipboard"
      class="ba-live-example-control"
      [class.ba-live-example-control-copied]="_copied"
      [disabled]="_sourceHidden"
      (click)="_copyToClipboard()"
    >
      <dt-icon *ngIf="_copied === false" name="reports"></dt-icon>
      <dt-icon *ngIf="_copied" name="checkmark"></dt-icon>
    </button>
    <button
      title="Expand source code"
      class="ba-live-example-control"
      (click)="_isExpanded = !_isExpanded"
      [class.ba-live-example-control-expanded]="_isExpanded"
      [disabled]="_sourceHidden"
    >
      <dt-icon name="dropdownopen"></dt-icon>
    </button>
  </div>
</div>

<div
  class="ba-live-example-sources"
  [class.ba-live-example-sources-expanded]="_isExpanded"
  *ngIf="_hasSources() && !_sourceHidden"
>
  <pre
    class="ba-live-example-template-source"
    *ngIf="templateSource && _activeTab === 'html'"
  ><code [innerHTML]="_enhancedTemplateSource"></code></pre>
  <pre
    class="ba-live-example-class-source"
    *ngIf="classSource && _activeTab === 'ts'"
  ><code [innerHTML]="_enhancedClassSource"></code></pre>
</div>
