<div class="design-tokens-ui-area-panel design-tokens-ui-settings-area">
  <h2>
    <span>Palette Editor:</span>
    {{ _palette.name }}
  </h2>

  <div class="design-tokens-ui-setting design-tokens-ui-labelled-input">
    <label class="design-tokens-ui-settings-label" i18n>Name</label>
    <input
      type="text"
      designTokensUiInput
      [(ngModel)]="_palette.name"
      aria-label="Name"
    />
  </div>

  <div class="design-tokens-ui-setting design-tokens-ui-labelled-color">
    <design-tokens-ui-color-picker
      [(color)]="keyColor"
      (colorChange)="_calculateContrastColors()"
    ></design-tokens-ui-color-picker>
    <label class="design-tokens-ui-settings-label" i18n>Key color</label>
  </div>

  <div class="design-tokens-ui-setting design-tokens-ui-labelled-color">
    <design-tokens-ui-color-picker
      [(color)]="_palette.baseColor"
      (colorChange)="_calculateContrastColors()"
    ></design-tokens-ui-color-picker>
    <label class="design-tokens-ui-settings-label" i18n>Base color</label>
  </div>

  <div class="design-tokens-ui-setting design-tokens-ui-labelled-input">
    <label class="settings-label" id="color-space-interpolation" i18n
      >Color space interpolation</label
    >
    <dt-select
      [(ngModel)]="_palette.colorspace"
      (ngModelChange)="_calculateContrastColors()"
      aria-labelledby="color-space-interpolation"
    >
      <dt-option value="CAM02">CIECAM02</dt-option>
      <dt-option value="HSLuv">HSLuv</dt-option>
    </dt-select>
  </div>

  <div class="design-token-ui-setting design-tokens-ui-multi-input">
    <dt-select
      [ngModel]="_palette.generationOptions.lowerEasing"
      (ngModelChange)="_setGenerationOption('lowerEasing', $event)"
    >
      <dt-option value="ease-in">Ease in</dt-option>
      <dt-option value="ease-out">Ease out</dt-option>
      <dt-option value="ease-in-out">Ease in and out</dt-option>
    </dt-select>

    <input
      type="text"
      class="design-tokens-ui-exponent-input"
      inputmode="numeric"
      pattern="[0-9\.]*"
      designTokensUiInput
      [ngModel]="_palette.generationOptions.lowerExponent"
      (ngModelChange)="_setGenerationOption('lowerExponent', $event)"
      aria-label="Lower exponent"
    />
  </div>

  <design-tokens-ui-contrast-distribution-curve
    [generationOptions]="_palette.generationOptions"
    [distributionCount]="_palette.shades.length"
    (distributionsChange)="_distributionsChanged($event)"
  ></design-tokens-ui-contrast-distribution-curve>

  <div class="design-token-ui-setting design-tokens-ui-multi-input">
    <dt-select
      [ngModel]="_palette.generationOptions.upperEasing"
      (ngModelChange)="_setGenerationOption('upperEasing', $event)"
    >
      <dt-option value="ease-in">Ease in</dt-option>
      <dt-option value="ease-out">Ease out</dt-option>
      <dt-option value="ease-in-out">Ease in and out</dt-option>
    </dt-select>

    <input
      type="text"
      class="design-tokens-ui-exponent-input"
      inputmode="numeric"
      pattern="[0-9\.]*"
      designTokensUiInput
      [ngModel]="_palette.generationOptions.upperExponent"
      (ngModelChange)="_setGenerationOption('upperExponent', $event)"
      aria-label="Upper exponent"
    />
  </div>

  <div class="design-tokens-ui-button-header">
    <h3 i18n>Palette shades</h3>

    <fluid-button
      size="small"
      [emphasis]="_showGaps ? 'high' : 'low'"
      (click)="_toggleGaps()"
    >
      <span i18n>Gaps</span>
    </fluid-button>
  </div>

  <div class="design-tokens-ui-shades--container">
    <div class="design-tokens-ui-contrast-min-max">
      <input
        type="text"
        inputmode="numeric"
        pattern="[0-9\.]*"
        min="1"
        max="_maxRatio"
        designTokensUiInput
        [ngModel]="_palette.generationOptions.minContrast"
        (ngModelChange)="_setGenerationOption('minContrast', $event)"
        aria-label="Min contrast"
      />

      <input
        type="text"
        inputmode="numeric"
        pattern="[0-9\.]*"
        min="1"
        max="_maxRatio"
        designTokensUiInput
        [ngModel]="_palette.generationOptions.baseContrast"
        (ngModelChange)="_setGenerationOption('baseContrast', $event)"
        aria-label="Base contrast"
      />

      <input
        type="text"
        inputmode="numeric"
        pattern="[0-9\.]*"
        min="1"
        max="_maxRatio"
        designTokensUiInput
        [ngModel]="_palette.generationOptions.maxContrast"
        (ngModelChange)="_setGenerationOption('maxContrast', $event)"
        aria-label="Max contrast"
      />
    </div>

    <div
      class="design-tokens-ui-shade-preview-list"
      [class.design-tokens-ui-gaps]="_showGaps"
    >
      <div
        *ngFor="let shade of _palette.shades; index as i"
        class="design-tokens-ui-shade-preview"
        [style.background-color]="_contrastColors[i]"
        [style.color]="_getTextColorOnBackground(_contrastColors[i])"
      >
        <span
          class="design-tokens-ui-shade-description design-tokens-ui-shade-name"
          >{{ shade.aliasName }} ({{ shade.ratio }})</span
        >
        <span
          class="design-tokens-ui-shade-description design-tokens-ui-shade-color"
          >{{ _contrastColors[i] }}</span
        >
      </div>
    </div>
  </div>

  <h3>Other options</h3>
  <div class="design-tokens-ui-grouped-buttons">
    <a
      class="design-tokens-ui-link design-tokens-ui-external"
      [href]="leonardoUrl"
      target="_blank"
      rel="noopener noreferrer"
      i18n
    >
      Open in Adobe Leonardo
    </a>
    <fluid-button
      (click)="_deletePalette()"
      (blur)="_resetDeletePaletteConfirmation()"
      size="small"
      emphasis="high"
    >
      <span *ngIf="!_showDeletePaletteConfirmation" i18n>Delete Palette</span>
      <span *ngIf="_showDeletePaletteConfirmation" i18n>Are you sure?</span>
    </fluid-button>
  </div>
</div>

<div class="design-tokens-ui-preview-area--wrapper">
  <div class="design-tokens-ui-area-panel design-tokens-ui-preview-area">
    <ng-container *ngFor="let contrastColor of _contrastColors">
      <design-tokens-ui-color-preview
        [style.--foreground-color]="contrastColor"
        [style.--background-color]="_palette.baseColor"
      >
      </design-tokens-ui-color-preview>
      <design-tokens-ui-color-preview
        [style.--foreground-color]="_palette.baseColor"
        [style.--background-color]="contrastColor"
      >
      </design-tokens-ui-color-preview>
    </ng-container>
  </div>
</div>
