@font-face {
  font-family: BerninaSansWeb;
  src: url('/assets/fonts/bernina/BerninaSans-Web-Semibold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: BerninaSansWeb;
  src: url('/assets/fonts/bernina/BerninaSans-Web-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: BerninaSansWeb;
  src: url('/assets/fonts/bernina/BerninaSans-Web-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Bitstream Vera';
  src: url('/assets/fonts/bitstream/VeraMono-Web-Regular.woff') format('woff');
  font-weight: 400;
}
