<div class="dt-filter-field-body">
  <dt-loading-spinner
    class="dt-filter-field-spinner"
    *ngIf="loading"
  ></dt-loading-spinner>
  <div class="dt-filter-field-label">
    <dt-icon *ngIf="!loading" name="filter" class="dt-filter-field-icon"></dt-icon>
    <span>{{label}}</span>
  </div>

  <dt-filter-field-tag
    *ngFor="let tagData of _prefixTagData"
    [data]="tagData"
    (remove)="_handleTagRemove($event)"
    (edit)="_handleTagEdit($event)"
  ></dt-filter-field-tag>

  <button
    dt-button
    variant="secondary"
    class="dt-filter-field-clear-all-button"
    (click)="_clearAll()"
    *ngIf="_showClearAll"
  >{{clearAllLabel}}</button>

  <div class="dt-filter-field-infix">
    <span class="dt-filter-field-category" *ngIf="_filterByLabel">{{_filterByLabel}}</span>
    <input
      #input
      type="text"
      class="dt-filter-field-input"
      [attr.aria-label]="ariaLabel"
      [dtAutocomplete]="autocomplete"
      [dtAutocompleteDisabled]="!_autocompleteOptionsOrGroups.length || loading"
      [dtFilterFieldRange]="range"
      [dtFilterFieldRangeDisabled]="!(_currentDef && !!_currentDef!.range) || loading"
      (keydown)="_handleInputKeyDown($event)"
      [value]="_inputValue"
    />
    <dt-autocomplete
      #autocomplete="dtAutocomplete"
      [autoActiveFirstOption]="_currentDef && !!_currentDef!.autocomplete"
      panelWidth="400px"
      class="dt-filter-field-panel"
    >
      <ng-container
        *ngFor="let optionOrGroupDef of _autocompleteOptionsOrGroups"
      >
        <dt-optgroup
          *ngIf="optionOrGroupDef.group; else options"
          [label]="optionOrGroupDef.group!.label"
        >
          <dt-option
            *ngFor="let optionDef of optionOrGroupDef.group!.options"
            [value]="optionDef"
          >{{optionDef.option!.viewValue}}</dt-option>
        </dt-optgroup>
        <ng-template #options>
          <dt-option [value]="optionOrGroupDef">{{ optionOrGroupDef.option!.viewValue}}</dt-option>
        </ng-template>
      </ng-container>
    </dt-autocomplete>

    <dt-filter-field-range
      #range="dtFilterFieldRange"
      [enabledOperators]="_currentDef && !!_currentDef!.range && _currentDef!.range!.operatorFlags"
      [unit]="_currentDef && !!_currentDef!.range && _currentDef!.range!.unit"
      (rangeSubmitted)="_handleRangeSubmitted($event)"
    ></dt-filter-field-range>
  </div>

  <dt-filter-field-tag
    *ngFor="let tagData of _suffixTagData"
    [data]="tagData"
    (remove)="_handleTagRemove($event)"
    (edit)="_handleTagEdit($event)"
  ></dt-filter-field-tag>
</div>

<div class="dt-filter-field-subscript-wrapper" *ngIf="_errors.length">
  <div
    class="dt-filter-field-error"
    [@transitionErrors]="true"
  >
    <p *ngFor="let error of _errors">{{ error }}</p>
  </div>
</div>
