<aside class="ba-page-aside ba-component-aside">
  <div
    class="ba-toc ba-expandable"
    (click)="_expandTocMenu()"
    [ngClass]="{ 'ba-is-active': _expandToc }"
  >
    <p
      class="ba-toc-header ba-expandable-trigger ba-expandable-trigger-right"
      data-initialized="true"
    >
      On this page
    </p>
    <div class="ba-toc-content ba-expandable-content">
      <ul class="ba-toc-list ba-list">
        <li
          *ngFor="let headline of tocItems"
          class="ba-toc-item"
          [class.ba-toc-item-active]="
            _activeItems &&
            _activeItems[0] &&
            _activeItems[0].id === headline.id
          "
        >
          <span class="ba-toc-link" (click)="_handleTocClick(headline.id)">
            {{ headline.headline }}
          </span>
          <ul *ngIf="headline.children" class="ba-toc-ul">
            <li
              *ngFor="let subheadline of headline.children"
              class="ba-toc-item"
              [class.ba-toc-item-active]="
                _activeItems &&
                _activeItems[1] &&
                _activeItems[1].id === subheadline.id
              "
            >
              <span
                class="ba-toc-link"
                (click)="_handleTocClick(subheadline.id)"
              >
                {{ subheadline.headline }}</span
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</aside>
