<aside class="ba-page-aside ba-component-aside">
  <div
    class="ba-toc ba-expandable"
    (click)="_expandTocMenu()"
    [ngClass]="{ 'ba-is-active': _expandToc }"
  >
    <p
      href="#"
      class="ba-toc-header ba-expandable-trigger ba-expandable-trigger-right"
      data-initialized="true"
    >
      On this page
    </p>
    <div class="ba-toc-content ba-expandable-content">
      <ul class="ba-toc-list ba-list">
        <li
          *ngFor="let headline of tocitems.headlines"
          class="ba-toc-item"
          [class.ba-toc-item-active]="_activeItems.headlines[0] === headline"
        >
          <a
            #headline
            id="{{ headline.id }}"
            href="#{{ headline.id }}"
            class="ba-toc-link"
            (click)="_handleTocClick($event)"
          >
            {{ headline.headline }}</a
          >
          <ul *ngIf="headline.children" class="ba-toc-ul">
            <li
              *ngFor="let subheadline of headline.children"
              class="ba-toc-item"
              [class.ba-toc-item-active]="
                _activeItems.headlines[1] === subheadline
              "
            >
              <a
                #headline
                id="{{ subheadline.id }}"
                href="#{{ subheadline.id }}"
                class="ba-toc-link"
                (click)="_handleTocClick($event)"
              >
                {{ subheadline.headline }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</aside>
