<dt-table
  [dataSource]="dataSource"
  dtOrder
  [dtOrderDisabled]="disabled"
  cdkDropList
  [cdkDropListData]="dataSource"
>
  <dt-simple-order-column
    name="order"
    label="Order"
    dtColumnProportion="0.1"
  ></dt-simple-order-column>
  <dt-simple-text-column
    name="name"
    label="Rule name"
    sortable="false"
  ></dt-simple-text-column>
  <dt-header-row *dtHeaderRowDef="['order', 'name']"></dt-header-row>
  <dt-row *dtRowDef="let row; columns: ['order', 'name']"></dt-row>
</dt-table>

<button dt-button (click)="disabled = !disabled" id="disable-toggle">
  Disable table reorder
</button>
<button dt-button (click)="changeOrder()" id="change-order">
  Change order
</button>
