<dt-table
  [dataSource]="dataSource"
  dtOrder
  [dtOrderDisabled]="disabled"
  cdkDropList
  [cdkDropListData]="dataSource"
>
  <ng-container dtColumnDef="order" dtColumnAlign="text">
    <dt-header-cell *dtHeaderCellDef>Order</dt-header-cell>
    <dt-order-cell
      *dtCellDef="let data; let index = index"
      [index]="index"
      aria-label="order"
    >
    </dt-order-cell>
  </ng-container>
  <dt-simple-text-column
    name="name"
    label="Rule name"
    sortable="false"
  ></dt-simple-text-column>
  <dt-header-row *dtHeaderRowDef="['order', 'name']"></dt-header-row>
  <dt-row *dtRowDef="let row; columns: ['order', 'name']"></dt-row>
</dt-table>

<button dt-button (click)="disabled = !disabled" id="disable-toggle">
  Disable table reorder
</button>
<button dt-button (click)="changeOrder()" id="change-order">
  Change order
</button>
