<ng-container *ngIf="idle">
  <span>{{value}}</span>
  <button
    dt-icon-button
    variant="nested"
    #edit
    aria-label="edit"
    (click)="enterEditing()"
  >
    <dt-icon name="edit1"></dt-icon>
  </button>
</ng-container>

<dt-loading-spinner *ngIf="saving"></dt-loading-spinner>

<div *ngIf="editing || saving">
  <div class="dt-inline-editor-edit-body">
    <div class="dt-inline-editor-infix">
      <input
        dtInput
        [errorStateMatcher]="errorStateMatcher"
        [required]="required"
        [disabled]="saving"
        [value]="value"
        (keydown)="onKeyDown($event)"
        (input)="_onInput($event)"
      />
    </div>
    <div class="dt-inline-editor-suffix">
      <button
        dt-icon-button
        class="dt-inline-editor-edit"
        variant="nested"
        [attr.aria-label]="ariaLabelSave"
        (click)="saveAndQuitEditing()"
        [disabled]="errorState"
      >
        <dt-icon name="checkmark"></dt-icon>
      </button>
      <button
        dt-icon-button
        class="dt-inline-editor-cancel"
        variant="nested"
        [attr.aria-label]="ariaLabelCancel"
        (click)="cancelAndQuitEditing()"
      >
        <dt-icon name="abort"></dt-icon>
      </button>
    </div>
  </div>
  <div class="dt-inline-editor-errors-subscript">
    <div
      class="dt-inline-editor-errors"
      *ngIf="_getDisplayedError()"
      [@transitionErrors]="_errorAnimationState"
    >
      <ng-content select="dt-error"></ng-content>
    </div>
  </div>
</div>
