:host {
  display: block;
}

.breakpoint-observer-container {
  display: block;
  width: 80%;
  padding: 0 20px;
  background: #fefefe;
}

.my-headline {
  color: red;
}

.demo-breakpoint-matches {
  background: #c0ffee;
}
