<footer class="ba-footer" dtTheme=":dark">
  <div class="ba-footer-socials">
    <h3>Join us on</h3>
    <a
      href="https://github.com/dynatrace-oss/barista"
      class="ba-footer-sociallink ba-btn ba-btn-secondary"
    >
      <img src="/assets/github-white.svg" alt="Dynatrace on GitHub" />
    </a>
    <a
      href="https://www.behance.net/dynatrace/"
      class="ba-footer-sociallink ba-btn ba-btn-secondary"
    >
      <img src="/assets/behance-white.svg" alt="Dynatrace on Behance" />
    </a>
    <a
      href="https://dribbble.com/dynatrace/"
      class="ba-footer-sociallink ba-btn ba-btn-secondary"
    >
      <img src="/assets/dribbble-white.svg" alt="Dynatrace on Dribbble" />
    </a>
  </div>
  <div class="ba-footer-legal">
    <ul class="ba-footer-linklist ba-footer-linklist-horizontal">
      <li class="ba-footer-linkitem">
        <a routerLink="/license">Barista License Terms</a>
      </li>
    </ul>
  </div>
</footer>
