<div class="dt-progress-circle-body">
  <svg viewBox="0 0 112 112" width="112px" height="112px">
    <circle
      class="dt-progress-circle-background"
      cx="56"
      cy="56"
      r="52"
    ></circle>
    <circle
      class="dt-progress-circle-progress"
      transform="rotate(-90, 56, 56)"
      [style.stroke-dashoffset]="_dashOffset"
      cx="56"
      cy="56"
      r="52"
    ></circle>
  </svg>
  <div class="dt-progress-circle-content">
    <ng-content></ng-content>
  </div>
</div>
