<div class="design-tokens-ui-palette-options">
  <fluid-button (click)="_yamlExport()" emphasis="high">
    <span i18n>Export as YAML</span>
  </fluid-button>
</div>

<div class="design-tokens-ui-palette-tile-grid">
  <design-tokens-ui-palette-tile
    [paletteSource]="paletteSource"
    *ngFor="let paletteSource of paletteAliases"
  ></design-tokens-ui-palette-tile>
  <button
    (click)="_addPalette()"
    variant="secondary"
    class="design-tokens-ui-add-palette"
  >
    <dt-icon name="plus-add"></dt-icon>
    <span i18n>Add new palette</span>
  </button>
</div>
