/*
 * Rule-sets for all basic use cases of predefined font styles
 */

@import 'font-mixins';

body {
  @include dt-main-font();
}

h1 {
  @include dt-h1-font();
}

h2 {
  @include dt-h2-font();
}

h3 {
  @include dt-h3-font();
}

pre,
code {
  @include dt-code-font();
}

label {
  @include dt-label-font();
}
