<dt-chart [options]="options" [series]="series$ | async">
  <dt-chart-timestamp
    ariaLabelClose="Close the selection"
    (closed)="closed()"
    (valueChanges)="valueChanges($event)"
  ></dt-chart-timestamp>
  <dt-chart-range
    ariaLabelClose="Close the selection"
    ariaLabelLeftHandle="The left handle to update the selection"
    ariaLabelRightHandle="The right handle to update the selection"
    ariaLabelSelectedArea="The selected time-frame"
    (valid)="rangeValidChanges($event)"
    (valueChanges)="valueChanges($event)"
    (closed)="closed()"
  >
    <button
      aria-label="Apply the selection"
      dt-button
      dtChartSelectionAreaAction
      [disabled]="!validRange"
      i18n
    >
      Apply
    </button>
  </dt-chart-range>
</dt-chart>

<button (click)="setTimeframe()" id="dt-chart-set-time-frame">
  set timeframe
</button>
