@import '../../styles/global/variables';
@import '../../styles/global/mixins';
@import 'colors';

:host {
  @include iconButton();
  border-color: $gray-300;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  z-index: 90;
  position: fixed;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.6s ease-in-out, background-color 150ms ease-in-out;
  margin: 2rem;
  fill: #fff;
  text-align: center;
  pointer-events: none;
  background-color: $turquoise-600;
  background-color: var(--ba-pagetheme);
}

:host:hover {
  background-color: $turquoise-500;
  background-color: var(--ba-pagetheme-light);
}

:host:focus {
  @include focusStyle();
}

:host.ba-scroll-top-button-show {
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}
