<dt-tag-list aria-label="A list of tags.">
  <dt-tag *ngFor="let tag of tags">
    <dt-tag-key *ngIf="tag.key">{{tag.key}}</dt-tag-key>
    {{ tag.value }}
  </dt-tag>
  <dt-tag-add #tagAdd (tagAdded)="addTag($event)">
    <dt-tag-add-form>
      <form [formGroup]="inputForm">
        <dt-form-field>
          <dt-label>Bitbucket user name</dt-label>
          <dt-combobox ngDefaultControl formControlName="value"
            placeholder="Start typing for suggestions"
            [loading]="userSuggestionsLoading"
            [formControl]="usernameFormControl"
            (filterChange)="comboboxFilterChanged($event)">
            <dt-option *ngFor="let user of userSuggestions" [value]="user">
              {{ user }}
            </dt-option>
          </dt-combobox>
        </dt-form-field>
      </form>
    </dt-tag-add-form>
  </dt-tag-add>
</dt-tag-list>
