<dt-tag-list>
  <dt-tag
    [removable]="canRemove"
    [value]="value1"
    (removed)="doRemove(tag1)"
    #tag1
    title="My custom tooltip"
  >
    <dt-tag-key *ngIf="hasKey">[AWS]OSType:</dt-tag-key>
    Windows
  </dt-tag>

  <dt-tag
    [removable]="canRemove"
    [value]="value2"
    (removed)="doRemove(tag2)"
    #tag2
    title="Another tooltip"
  >
    <dt-tag-key *ngIf="hasKey">[AWS]Category:</dt-tag-key>
    Managed
  </dt-tag>

  <dt-tag
    [removable]="canRemove"
    [value]="value3"
    (removed)="doRemove(tag3)"
    #tag3
    title="A really really long tooltip"
  >
    <dt-tag-key *ngIf="hasKey">[AWS]Category:</dt-tag-key>
    Super duper long tag that is very long and has to be abbreviated
  </dt-tag>
</dt-tag-list>

<div class="control-buttons">
  <button
    dt-button
    (click)="canRemove = !canRemove"
    [variant]="canRemove ? 'primary' : 'secondary'"
  >
    Toggle removable
  </button>

  <button
    dt-button
    (click)="hasKey = !hasKey"
    [variant]="hasKey ? 'primary' : 'secondary'"
  >
    Toggle key
  </button>
</div>
<br /><br />

<div class="listing">
  <dt-tag-list>
    <dt-tag *ngFor="let tag of tags">{{ tag }}</dt-tag>
    <dt-tag-add
      placeholder="insert tag here"
      (tagAdded)="addTag($event)"
      dt-ui-test-id="tag-add"
    ></dt-tag-add>
  </dt-tag-list>
</div>
