<dt-expandable-section>
  <dt-expandable-section-header>My header text</dt-expandable-section-header>
  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
  dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
  magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
  Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</dt-expandable-section>

<dt-chart [options]="options" [series]="series">
  <!-- <dt-chart-heatfield [start]="1370304000000" [end]="1370325600000">
    Problem 1:<br/>
    <a class="dt-link">View problem details</a>
  </dt-chart-heatfield> -->

  <dt-chart-heatfield [start]="1370335500000" >
      Problem 2:<br/>
      <a class="dt-link">View problem details</a>
  </dt-chart-heatfield>
  <dt-chart-tooltip>
    <ng-template let-tooltip>
      <dt-key-value-list>
        <dt-key-value-list-item *ngFor="let data of tooltip.points">
          <dt-key-value-list-key>{{data.series.name}}</dt-key-value-list-key>
          <dt-key-value-list-value>{{data.point.y}}</dt-key-value-list-value>
        </dt-key-value-list-item>
      </dt-key-value-list>
    </ng-template>
  </dt-chart-tooltip>

  <dt-chart-timestamp></dt-chart-timestamp>
  <dt-chart-range></dt-chart-range>

</dt-chart>
