<main>
  <div class="ba-page-content" *ngIf="content">
    <div class="ba-index-page-section ba-index-page-section-header">
      <div class="ba-title">
        <h1>
          {{ content.title }}<span> {{ content.subtitle }}</span>
        </h1>
      </div>
    </div>
    <div class="ba-index-page-section">
      <div *ngIf="_showOrderedItems">
        <h2>Recently ordered</h2>
        <ul class="ba-tilegrid-onerow">
          <li *ngFor="let item of _orderedItems">
            <ba-smalltile [data]="item"></ba-smalltile>
          </li>
        </ul>
      </div>
      <h2>Most ordered</h2>
      <div class="ba-tilegrid-onerow">
        <ba-smalltile
          *ngFor="let item of content.mostordered"
          [data]="item"
        ></ba-smalltile>
      </div>
    </div>
    <div
      *ngIf="content.cta"
      class="ba-index-page-section ba-index-page-section-cta"
    >
      <div>
        <h2>{{ content.cta.title }}</h2>
        <p>
          {{ content.cta.text }}
        </p>
        <a
          class="ba-btn ba-btn-primary ba-btn-cta"
          [href]="content.cta.buttonlink"
          >{{ content.cta.buttontext }}</a
        >
      </div>
    </div>
    <div class="ba-index-page-section">
      <h2>Getting started</h2>
      <a
        *ngFor="let item of content.gettingstarted"
        [routerLink]="item.link"
        class="ba-index-page-links"
        [style.border-left-color]="item.borderColor"
      >
        <h3>{{ item.title }}</h3>
        <p>{{ item.text }}</p>
      </a>
    </div>
  </div>
</main>
