@import '../core/style/interactive-common';

@mixin dt-theme-expandable-section($theme) {
  $is-dark: map-get($theme, 'is-dark');

  @if ($is-dark == true) {
    :host .dt-expandable-section-header,
    :host .dt-expandable-section-header-trigger {
      color: $gray-200;

      .dt-expandable-section-arrow {
        fill: $turquoise-500;
      }

      ~ .dt-expandable-section-header-line {
        border-bottom-color: $gray-400;
      }
    }

    :host:not(.dt-expandable-section-disabled)
      .dt-expandable-section-header-trigger:focus {
      @include dt-focus-style(true);
    }

    :host .dt-expandable-section-header-trigger:hover {
      color: #ffffff;

      .dt-expandable-section-arrow ::ng-deep svg {
        fill: $turquoise-400;
      }

      ~ .dt-expandable-section-header-line {
        border-bottom-color: $gray-200;
      }
    }
  }
}
