@import '../style/font-mixins';
@import '../core/style/variables';
@import '../core/style/interactive-common';
@import '../core/theming/theming';
@import './expandable-section-theme';

:host {
  box-sizing: border-box;
}

.dt-expandable-section-header {
  display: flex;
  align-items: baseline;

  position: relative;
  @include dt-label-font();

  .dt-expandable-section-arrow {
    width: 16px;
    height: 16px;
    margin-left: -2px;
    margin-top: -2px;
    fill: $turquoise-600;
    vertical-align: middle;
    transition: 0.125s;
    transform: rotate(-90deg);
  }
}

.dt-expandable-section-header-content {
  margin-left: 4px;
  padding-right: 2px;
}

:host:not(.dt-expandable-section-disabled)
  .dt-expandable-section-header-trigger:focus {
  @include dt-focus-style();
}

.dt-expandable-section-header-line {
  flex-grow: 1;
  border-bottom: 1px solid $gray-500;
}

.dt-expandable-section-header-trigger {
  @include dt-interactive-reset();
  @include dt-label-font();

  background-color: transparent;
  display: inline-flex;
  align-items: baseline;

  margin: 2px;
  padding: 0;
  position: relative;
}

.dt-expandable-section-header-trigger:hover {
  color: $gray-900;

  .dt-expandable-section-arrow ::ng-deep svg {
    fill: $turquoise-700;
  }

  ~ .dt-expandable-section-header-line {
    border-bottom-color: $gray-700;
  }
}

:host.dt-expandable-section-disabled {
  pointer-events: none;

  .dt-expandable-section-header,
  .dt-expandable-section-header-trigger {
    color: $gray-300;

    .dt-expandable-section-arrow ::ng-deep svg {
      fill: $gray-300;
    }
  }

  .dt-expandable-section-header-line {
    border-bottom: 1px solid $gray-300;
  }
}

:host.dt-expandable-section-opened
  .dt-expandable-section-header
  .dt-expandable-section-arrow {
  transform: rotate(0deg);
}

.dt-expandable-section-container {
  margin-left: 20px;
  margin-top: 12px;
}

// Apply the expandable section theme
@include dt-apply-theme() {
  @include dt-theme-expandable-section($dt-current-theme);
}
