<fluid-switch
  [disabled]="disabled"
  [checked]="checked"
  [value]="'switch'"
  (change)="handleChange($event)"
  >Switch</fluid-switch
>

<p>
  Set initial checked state to: true
  <fluid-switch
    [disabled]="disabled"
    [checked]="true"
    (change)="handleChange($event)"
    >Switch</fluid-switch
  >
</p>

<p>
  Set inital checked state to: false
  <fluid-switch
    [disabled]="disabled"
    [checked]="false"
    (change)="handleChange($event)"
    >Switch</fluid-switch
  >
</p>

<input type="checkbox" id="1" />
<label for="1">Label</label>

<div>
  <button (click)="checked = !checked">Toggle checked</button>
</div>

<div>
  <button (click)="disabled = !disabled">Toggle disabled</button>
</div>

<div>
  <h2>Logs</h2>
  <code *ngFor="let log of logs">
    <pre>
    {{ log | json }}
    </pre>
  </code>
</div>
