<h2>Non merged</h2>

<dt-event-chart>
  <dt-event-chart-event
    *ngFor="let event of _events"
    [value]="event.value"
    [duration]="event.duration"
    [lane]="event.lane"
  >
    <ng-template dtEventChartOverlay>overlay content</ng-template>
  </dt-event-chart-event>
  <dt-event-chart-lane
    *ngFor="let lane of _lanes"
    [name]="lane.name"
    [label]="lane.label"
    [color]="lane.color"
  ></dt-event-chart-lane>

  <dt-event-chart-legend-item
    *ngFor="let item of _legendItems"
    [lanes]="item.lanes"
    >{{ item.label }}</dt-event-chart-legend-item
  >
</dt-event-chart>

<div class="demo-controls">
  <dt-form-field class="demo-control-ds">
    <dt-label>Select a Data Source</dt-label>
    <dt-select [(ngModel)]="_selectedDataSet">
      <dt-option *ngFor="let dataSet of _dataSets" [value]="dataSet">{{
        dataSet.key
      }}</dt-option>
    </dt-select>
  </dt-form-field>
</div>
