<dt-tile color="main">
  <dt-tile-icon><dt-icon name="agent"></dt-icon></dt-tile-icon>
  <dt-tile-title>L-W8-64-APMDay3</dt-tile-title>
  <dt-tile-subtitle>Linux (x84, 64-bit)</dt-tile-subtitle>
  Network traffic
</dt-tile>

<div style="width: 100%; padding-bottom: 15px;"></div>

<dt-tile color="main" disabled="true">
  <dt-tile-icon><dt-icon name="agent"></dt-icon></dt-tile-icon>
  <dt-tile-title>L-W8-64-APMDay3</dt-tile-title>
  Network traffic
</dt-tile>

<div style="width: 100%; padding-bottom: 15px;"></div>

<dt-tile color="main">
  <dt-tile-icon><dt-icon name="agent"></dt-icon></dt-tile-icon>
  <dt-tile-title>L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3L-W8-64-APMDay3</dt-tile-title>
  <dt-tile-subtitle>Linux (x84, 64-bit)</dt-tile-subtitle>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione tenetur eius eligendi sint ad illo atque ullam, nulla sequi, aut officia, reiciendis eveniet consequatur porro architecto sunt quia beatae numquam?
</dt-tile>
