@import 'colors';
@import '../../styles/global/mixins.scss';
@import '../../styles/global/variables';

.ba-footer {
  background-color: $gray-800;
  color: #ffffff;
  padding: 44px;
  padding-bottom: 3rem;
}

.ba-footer-legal {
  margin-bottom: 0.5rem;
  text-align: center;
  margin-top: 1rem;
}

.ba-footer-linklist {
  margin: 0;
}

.ba-footer-socials {
  text-align: center;
}

.ba-footer-linkitem {
  list-style: none;
  line-height: 1.4;
  margin-bottom: 0.75rem;
}

.ba-footer-linkitem a {
  color: #ffffff;
  text-decoration: none;
}

.ba-footer-linkitem a:hover {
  cursor: pointer;
  text-decoration: underline;
  background-color: transparent;
}

.ba-footer-sociallink.ba-footer-sociallink {
  @include iconButton();
  fill: #ffffff;
  margin: 1rem 0.5rem 0;
  transition: background-color 100ms ease-in-out, fill 100ms ease-in-out;
}

.ba-footer-linklist-horizontal .ba-footer-linkitem {
  display: inline-block;
}
