.sample {
  border-radius: 10px;
  border: 1px solid lightgray;
  margin: 1em 0;
  overflow: hidden;
}

pre {
  background: whitesmoke;
  border-top: 1px solid lightgray;
  margin: 0;
}

article, pre {
  padding: 1em;
}

h6 {
  margin: 0;
}
