@import '../../styles/global/variables';
@import '../../../../../components/core/src/style/colors';

@mixin tile-theme($link-color, $hover-color, $active-color) {
  .ba-smalltile-link-wrapper,
  &.ba-smalltile-link-wrapper {
    .ba-smalltile-link {
      color: $link-color;
    }
  }

  .ba-smalltile-link-wrapper:hover,
  &.ba-smalltile-link-wrapper:hover {
    border-color: $hover-color;

    .ba-smalltile-link {
      text-decoration: none;
    }
  }

  .ba-smalltile-link-wrapper:active,
  &.ba-smalltile-link-wrapper:active {
    border-color: $active-color;
  }
}

:host {
  border-radius: 3px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  border: 1px solid $gray-200;
  background-color: $gray-100;

  @include tile-theme($turquoise-600, $turquoise-600, $turquoise-700);
}

.ba-smalltile-link {
  background-color: #ffffff;
  text-align: center;
  padding: 1rem 1.5rem;

  .ba-smalltile-img {
    font-size: 48px;
  }

  .ba-smalltile-title {
    font-size: 0.9rem;
    line-height: 1.2;
  }
}

.ba-theme-blue {
  @include tile-theme($blue-600, $blue-600, $blue-700);
}

.ba-theme-purple {
  @include tile-theme($purple-600, $purple-600, $purple-700);
}

.ba-theme-royalblue {
  @include tile-theme($royalblue-500, $royalblue-500, $royalblue-700);
}

.ba-theme-green {
  @include tile-theme($green-500, $green-500, $green-700);
}

.ba-theme-yellow {
  @include tile-theme($yellow-600, $yellow-600, $yellow-700);
}

.ba-theme-turquoise {
  @include tile-theme($turquoise-600, $turquoise-600, $turquoise-700);
}
