<div class="fluid-button-grid">
  <div class="fluid-button-grid-item">
    <p>Small button, low emphasis</p>
    <fluid-button size="small" emphasis="low">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Default button, medium emphasis</p>
    <fluid-button size="small" emphasis="medium">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Small button, high emphasis</p>
    <fluid-button size="small" emphasis="high">Button 1</fluid-button>
  </div>

  <div class="fluid-button-grid-item">
    <p>Medium button, low emphasis</p>
    <fluid-button size="medium" emphasis="low">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Medium button, medium emphasis</p>
    <fluid-button size="medium" emphasis="medium">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Medium button, high emphasis</p>
    <fluid-button size="medium" emphasis="high">Button 1</fluid-button>
  </div>

  <div class="fluid-button-grid-item">
    <p>Large button, low emphasis</p>
    <fluid-button size="large" emphasis="low">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Large button, medium emphasis</p>
    <fluid-button size="large" emphasis="medium">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Large button, high emphasis</p>
    <fluid-button size="large" emphasis="high">Button 1</fluid-button>
  </div>

  <div class="fluid-button-grid-item">
    <p>Small button, low emphasis, disabled AA</p>
    <fluid-button disabled size="small" emphasis="low">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Default button, medium emphasis, disabled</p>
    <fluid-button disabled size="small" emphasis="medium"
      >Button 1</fluid-button
    >
  </div>
  <div class="fluid-button-grid-item">
    <p>Small button, high emphasis, disabled</p>
    <fluid-button disabled size="small" emphasis="high">Button 1</fluid-button>
  </div>

  <div class="fluid-button-grid-item">
    <p>Medium button, low emphasis, disabled</p>
    <fluid-button disabled size="medium" emphasis="low">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Medium button, medium emphasis, disabled</p>
    <fluid-button disabled size="medium" emphasis="medium"
      >Button 1</fluid-button
    >
  </div>
  <div class="fluid-button-grid-item">
    <p>Medium button, high emphasis, disabled</p>
    <fluid-button disabled size="medium" emphasis="high">Button 1</fluid-button>
  </div>

  <div class="fluid-button-grid-item">
    <p>Large button, low emphasis, disabled</p>
    <fluid-button disabled size="large" emphasis="low">Button 1</fluid-button>
  </div>
  <div class="fluid-button-grid-item">
    <p>Large button, medium emphasis, disabled</p>
    <fluid-button disabled size="large" emphasis="medium"
      >Button 1</fluid-button
    >
  </div>
  <div class="fluid-button-grid-item">
    <p>Large button, high emphasis, disabled</p>
    <fluid-button disabled size="large" emphasis="high">Button 1</fluid-button>
  </div>
</div>
