@import '../../../core/src/style/overlay';

:host ::ng-deep {
  @include dt-overlay-container();
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  transform: translateY(-100%) translateX(-50%);

  > * {
    margin: 0 6px;
  }
}
