<ng-template let-range>
  <span class="dt-selection-area-overlay-text">{{ range | dtDateRange }}</span>
  <ng-content select="[dtChartSelectionAreaAction]"></ng-content>
  <button
    dt-icon-button
    variant="secondary"
    (click)="_handleOverlayClose()"
    [attr.aria-label]="_ariaLabelClose"
    cdkFocusInitial
  >
    <dt-icon name="abort"></dt-icon>
  </button>
</ng-template>

<div
  *ngIf="!_hidden"
  #range
  cdkTrapFocus
  class="dt-chart-range-container"
  tabindex="0"
  aria-role="slider"
  aria-orientation="horizontal"
  [attr.aria-valuemin]="_minValue"
  [attr.aria-valuemax]="_maxValue"
  [attr.aria-label]="_ariaLabelSelectedArea"
  (keydown)="_handleKeyDown($event, 'selected-area')"
>
  <button
    class="dt-chart-left-handle"
    aria-role="slider"
    [attr.aria-valuemin]="_minValue"
    [attr.aria-valuemax]="_maxValue"
    [attr.aria-label]="_ariaLabelLeftHandle"
    (keydown)="_handleKeyDown($event, 'left')"
    (mousedown)="_dragHandle($event, 'left')"
    (touchstart)="_dragHandle($event, 'left')"
  >
    <dt-icon name="handle"></dt-icon>
  </button>
  <div class="dt-chart-selected-area"></div>
  <button
    class="dt-chart-right-handle"
    aria-role="slider"
    [attr.aria-valuemin]="_minValue"
    [attr.aria-valuemax]="_maxValue"
    [attr.aria-label]="_ariaLabelRightHandle"
    (keydown)="_handleKeyDown($event, 'right')"
    (mousedown)="_dragHandle($event, 'right')"
    (touchstart)="_dragHandle($event, 'right')"
  >
    <dt-icon name="handle"></dt-icon>
  </button>
</div>
