@import '../../core/src/theming/theming';

@mixin dt-theme-tile($theme) {
  $palette-names: 'main', 'error', 'recovered';
  $default-palette: 'main';

  .dt-tile:not(.dt-tile-disabled) {
    @each $name in $palette-names {
      $palette: dt-get-theme-palette($theme, $name);
      $default-color: dt-get-theme-color($palette, 'default');

      &.dt-color-#{$name} {
        &:hover {
          border-color: $default-color;
        }

        .dt-tile-icon {
          background-color: $default-color;
        }
      }
    }
  }
}
