@import '../core/style/variables';
@import '../core/style/table';
@import '../core/theming/theming';
@import 'tree-table-row-theme';

:host {
  display: table-row;
  position: relative;
  min-height: $dt-table-row-height;

  &:nth-child(even) ::ng-deep .dt-cell {
    background-color: $dt-table-row-color-even;
    border-top: solid 1px $dt-table-row-color-even;
    border-bottom: solid 1px $dt-table-row-color-even;

    &:last-child {
      border-right: solid 1px $dt-table-row-color-even;
    }
  }

  &:nth-child(even) ::ng-deep .dt-tree-toggle-cell {
    border-left: solid 1px $dt-table-row-color-even;
  }

  &:nth-child(odd) ::ng-deep .dt-cell {
    background-color: $dt-table-row-color-odd;
    border-top: solid 1px $dt-table-row-color-odd;
    border-bottom: solid 1px $dt-table-row-color-odd;

    &:last-child {
      border-right: solid 1px $dt-table-row-color-odd;
    }
  }

  &:nth-child(odd) ::ng-deep .dt-tree-toggle-cell {
    border-left: solid 1px $dt-table-row-color-odd;
  }
}

:host.dt-table-row-indicator ::ng-deep .dt-tree-table-toggle-cell-wrap::before {
  width: 2px;
  height: 100%;
  content: '';
  display: block;
  position: absolute;
  left: 0;
}

:host-context(.dt-table-interactive-rows):hover ::ng-deep .dt-cell {
  border-top: solid 1px $gray-500;
  border-bottom: solid 1px $gray-500;

  &:last-child {
    border-right-color: $gray-500;
  }
}
:host-context(.dt-table-interactive-rows):hover ::ng-deep .dt-tree-toggle-cell {
  border-left: solid 1px $gray-500;
}

// Apply the row theme to all theme definitions
@include dt-apply-theme() {
  @include dt-theme-tree-table-row($dt-current-theme);
}
