@import '../core/style/variables';
@import '../core/theming/theming';
@import '../core/style/interactive-common';

@mixin dt-theme-switch($theme) {
  $is-dark: map-get($theme, 'is-dark');

  @if ($is-dark == true) {
    :host {
      .dt-switch-content {
        color: #ffffff;
      }

      .dt-switch-bar {
        &::before {
          background-image: radial-gradient(
            circle 5px,
            transparent 0,
            transparent 2px,
            #ffffff 3px,
            transparent 4px
          );
          border-color: #ffffff;
          background-color: transparent;
        }

        &::after {
          background-color: #ffffff;
        }
      }

      &:hover .dt-switch-bar::before {
        background-color: rgba(255, 255, 255, 0.2);
      }

      &:active .dt-switch-bar::before {
        border: 1px solid #ffffff;
        background-color: rgba(255, 255, 255, 0.3);
      }

      &.dt-switch-checked {
        .dt-switch-bar::before {
          background-image: linear-gradient(
            to right,
            #ffffff 1px,
            transparent 0
          );
          border-color: #ffffff;
          background-color: $turquoise-500;
        }

        &:hover .dt-switch-bar::before {
          border-color: #ffffff;
          background-color: $turquoise-400;
        }

        &:active .dt-switch-bar::before {
          border-color: #ffffff;
          background-color: $turquoise-300;
        }
      }

      &.dt-switch-focused .dt-switch-bar::before {
        @include dt-focus-style(true);
      }

      &.dt-switch-disabled {
        .dt-switch-content {
          color: $gray-500;
        }

        .dt-switch-bar::before {
          background-image: radial-gradient(
            circle 5px,
            transparent 0,
            transparent 2px,
            $gray-500 3px,
            transparent 4px
          );
          border-color: $gray-500;
          background-color: transparent;
        }

        .dt-switch-bar::after {
          background-color: $gray-500;
        }
      }

      &.dt-switch-checked.dt-switch-disabled {
        .dt-switch-bar::before {
          background-image: linear-gradient(
            to right,
            $gray-500 1px,
            transparent 0
          );
          border: 1px solid rgba(255, 255, 255, 0.3);
          background-color: rgba(255, 255, 255, 0.2);
        }

        &:hover .dt-switch-bar::before {
          border: 1px solid rgba(255, 255, 255, 0.3);
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}
