@font-face {
  font-family: 'Bitstream Vera';
  src: url('/assets/fonts/bitstream/VeraMono-Web-Regular.woff2') format('woff2'),
    url('/assets/fonts/bitstream/VeraMono-Web-Regular.woff') format('woff'),
    url('/assets/fonts/bitstream/VeraMono-Web-Regular.ttf') format('truetype');
  font-weight: 400;
}
