<dt-form-field>
  <dt-label>Some text</dt-label>
  <input type="text" dtInput placeholder="Please insert text" />
</dt-form-field>

<dt-form-field>
  <dt-label>Some selection</dt-label>
  <dt-select placeholder="Choose your coffee">
    <dt-option value="ThePerfectPour">ThePerfectPour</dt-option>
    <dt-option value="Affogato">Affogato</dt-option>
    <dt-option value="Americano">Americano</dt-option>
  </dt-select>
</dt-form-field>

<div class="dark" dtTheme=":dark">
  <dt-form-field>
    <dt-label>Some text</dt-label>
    <input type="text" dtInput placeholder="Please insert text" />
  </dt-form-field>

  <dt-form-field>
    <dt-label>Some selection</dt-label>
    <dt-select placeholder="Choose your coffee">
      <dt-option value="ThePerfectPour">ThePerfectPour</dt-option>
      <dt-option value="Affogato">Affogato</dt-option>
      <dt-option value="Americano">Americano</dt-option>
    </dt-select>
  </dt-form-field>
</div>

<dt-form-field>
  <dt-label>No nested focus outlines</dt-label>
  <input
    type="text"
    dtInput
    placeholder="Please insert amount"
    aria-label="Please insert amount"
  />
  <dt-icon dtPrefix name="filter">$</dt-icon>
  <dt-loading-spinner dtPrefix></dt-loading-spinner>
  <button dt-icon-button dtSuffix variant="nested" aria-label="Submit changes">
    <dt-icon name="checkmark"></dt-icon>
  </button>
</dt-form-field>
