@import '../core/style/variables';
@import '../core/style/table';
@import '../core/theming/theming';
@import 'table-mixins';
@import 'row-theme';

:host {
  min-height: $dt-table-row-height;
  @include dt-base-row();
  position: relative;

  &:nth-child(even) {
    background-color: $dt-table-row-color-even;
    border: solid 1px $dt-table-row-color-even;
  }
  &:nth-child(odd) {
    background-color: $dt-table-row-color-odd;
    border: solid 1px $dt-table-row-color-odd;
  }
}

:host.dt-table-row-indicator::before {
  @include dt-table-row-indicator();
}

:host-context(.dt-table-interactive-rows):hover {
  border: solid 1px $gray-500;
}

// Apply the row theme to all theme definitions
@include dt-apply-theme() {
  @include dt-theme-row($dt-current-theme);
}
